Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

pkg/bzimage: Add ErrWillNotFit error
  pkg/boot/bzimage/bzimage.go
Due: everything

uefivars: add BootNext related parsing functions
  pkg/uefivars/boot/boot.go
Due: everything

uefivars: Add boot option parsing for MBR disks
  pkg/mount/block/blockdev_linux.go
  pkg/mount/block/blockdev_test.go
  pkg/uefivars/boot/efiDevicePathProtocol_test.go
  pkg/uefivars/boot/efiDppMedia.go
Due: everything

bzimage testing: ignore ErrWillNotFit errors
  pkg/boot/bzimage/bzimage.go
  pkg/boot/bzimage/bzimage_test.go
Due: everything

pkg/boot/linux: support PEZ-formatted images on arm64
  pkg/boot/linux.go
  pkg/boot/pez/pez.go
  pkg/boot/pez/pez_test.go
Due: everything

pkg/strace: github builds seem to be failing now
  pkg/strace/tracer_test.go
Due: everything

uefivars: add FindNode and ContainsNode methods
  pkg/uefivars/boot/efiDevicePathProtocol.go
  pkg/uefivars/boot/efiDevicePathProtocol_test.go
Due: everything

uefivars: add support for efivarfs kernel interface
  pkg/uefivars/boot/boot_test.go
  pkg/uefivars/testdata/sys_fw_efivarfs.zip
  pkg/uefivars/testmain_test.go
  pkg/uefivars/vars.go
  pkg/uefivars/vars_test.go
Due: everything

cmd2pkg: remove testing of GO111MODULE=off
  cmds/exp/cmd2pkg/findpkg/bb_test.go
  cmds/exp/cmd2pkg/test/all_test.go
Due: cmds/exp

cmd2pkg: add licenses to tests
  cmds/exp/cmd2pkg/test/12-fancy-cmd/main.go
  cmds/exp/cmd2pkg/test/all_test.go
  cmds/exp/cmd2pkg/test/diamonddep/mod1/cmd/hellowithdep/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod1/cmd/helloworld/helloworld.go
  cmds/exp/cmd2pkg/test/diamonddep/mod1/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod2/pkg/exthello/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod2/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod3/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/goembed/main.go
  cmds/exp/cmd2pkg/test/implicitimport/cmd/loghello/hello.go
  cmds/exp/cmd2pkg/test/implicitimport/pkg/defaultlog/log.go
  cmds/exp/cmd2pkg/test/injectldvar/main.go
  cmds/exp/cmd2pkg/test/nameconflict/cmd/nameconflict/main.go
  cmds/exp/cmd2pkg/test/nameconflict/cmd/nameconflict/otherfile.go
  cmds/exp/cmd2pkg/test/nameconflict/pkg/defaultlog/log.go
  cmds/exp/cmd2pkg/test/nested/nestedmod/cmd/p9ufs/main.go
  cmds/exp/cmd2pkg/test/normaldeps/mod1/cmd/getppid/getppid.go
  cmds/exp/cmd2pkg/test/normaldeps/mod1/cmd/helloworld/hello.go
  cmds/exp/cmd2pkg/test/normaldeps/mod2/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/resolve-modules/deps.go
Due: cmds/exp

cmd2pkg: fix up more glangci-lint errors
  cmds/exp/cmd2pkg/bbinternal/bb.go
Due: cmds/exp

acmd2pkg: fixes from golangci-lint
  cmds/exp/cmd2pkg/bb.go
  cmds/exp/cmd2pkg/bbinternal/bb.go
  cmds/exp/cmd2pkg/findpkg/bb.go
Due: cmds/exp

cmd2pkg: pre-empting golangci-lint whining
  cmds/exp/cmd2pkg/findpkg/bb.go
Due: cmds/exp

cmd2pkg: Add a test
  cmds/exp/cmd2pkg/cmd2pkg.go
  cmds/exp/cmd2pkg/cmd2pkg_test.go
Due: cmds/exp

fix licenses on tests
  cmds/exp/cmd2pkg/findpkg/test/buildconstraint/tools.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/echo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/foo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/ignoredfile.go
Due: cmds/exp

cmd2pkg: fix errors found by copilot
  cmds/exp/cmd2pkg/cmd2pkg.go
  cmds/exp/cmd2pkg/cmd2pkg_test.go
Due: cmds/exp

cmd2pkg to support built-in uses of u-root and other commands
  cmds/exp/cmd2pkg/bb.go
  cmds/exp/cmd2pkg/bbinternal/bb.go
  cmds/exp/cmd2pkg/cmd2pkg.go
  cmds/exp/cmd2pkg/findpkg/.gitignore
  cmds/exp/cmd2pkg/findpkg/bb.go
  cmds/exp/cmd2pkg/findpkg/bb_test.go
  cmds/exp/cmd2pkg/findpkg/test/buildconstraint/tools.go
  cmds/exp/cmd2pkg/findpkg/test/empty/.gitignore
  cmds/exp/cmd2pkg/findpkg/test/goglob/echo/.gitignore
  cmds/exp/cmd2pkg/findpkg/test/goglob/echo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/foo/.gitignore
  cmds/exp/cmd2pkg/findpkg/test/goglob/foo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/ignoredfile.go
Due: cmds/exp

cmd2pkg: no tests without a Go compiler
  cmds/exp/cmd2pkg/cmd2pkg_test.go
  cmds/exp/cmd2pkg/findpkg/bb_test.go
  cmds/exp/cmd2pkg/test/all_test.go
  cmds/exp/cmd2pkg/test/nameconflict/cmd/nameconflict/main.go
  cmds/exp/cmd2pkg/test/resolve-modules/deps.go
Due: cmds/exp

cmd2pkg: more golangci-lint bits, I kind of wish it would do them all
  cmds/exp/cmd2pkg/bb.go
Due: cmds/exp

ci: migrate VM tests to CircleCI
  .circleci/config.yml
  .github/workflows/tests.yml
Due: none

cmds/core/find: fix tests
  cmds/core/find/find_test.go
Due: everything

pkg/pci: run BusReader tests in a VM
  pkg/pci/pci_linux_integration_test.go
  pkg/pci/pci_linux_test.go
Due: everything
