Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

pkg/boot: UniversalPayload: Add universalpayload ACPI table Hob
  pkg/boot/universalpayload/universalpayload.go
Due: everything

Add tests to pkg/boot/universalpayload
  cmds/core/kexec/kexec_linux.go
  pkg/boot/universalpayload/handoffblock.go
  pkg/boot/universalpayload/testdata/upl.dtb
  pkg/boot/universalpayload/testdata/upl.dts
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_test.go
Due: everything

pkg/boot: UniversalPayload: Add universalpayload base GUID Hob
  pkg/boot/universalpayload/universalpayload.go
Due: everything

pkg/boot: UniversalPayload: Add handoffblock component
  pkg/boot/universalpayload/handoffblock.go
Due: everything

staticcheck: fix SA1006 Printf with dynamic
  cmds/core/rsdp/rsdp.go
  cmds/core/shutdown/shutdown_linux.go
  cmds/exp/pflask/pflask.go
  cmds/exp/pflask/termios.go
  cmds/exp/zbi/zbi.go
Due: everything, cmds/exp

ci: update golangci-linter
  .golangci.yml
Due: none

cmds/core/tar: use FlagSet.Args to pass args
  cmds/core/tar/tar.go
Due: everything

ci/lint: fix linter issues caused by unparam
  cmds/core/du/du.go
  cmds/core/fusermount/fusermount.go
  cmds/core/gpgv/gpgv.go
  cmds/core/gpgv/gpgv_test.go
  cmds/core/ip/ops_linux.go
  cmds/core/ip/ops_linux_test.go
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
  cmds/core/ls/ls.go
  cmds/core/netcat/listen_test.go
  cmds/core/netcat/netcat.go
  cmds/core/netcat/netcat_test.go
  cmds/core/scp/scp.go
  cmds/core/shasum/shasum.go
  cmds/core/sluinit/uinit_linux.go
  cmds/core/wc/wc.go
  cmds/exp/cbmem/gen/gen.go
  cmds/exp/rush/cmd_test.go
  cmds/exp/rush/parse.go
  cmds/exp/rush/parse_test.go
  cmds/exp/rush/rush.go
  cmds/exp/tcz/tcz.go
  pkg/boot/bzimage/kver_test.go
  pkg/boot/ebda/ebda_test.go
  pkg/boot/linux/load_linux_image_test.go
  pkg/boot/menu/menu_test.go
  pkg/boot/multiboot/internal/trampoline/trampoline_linux_amd64.go
  pkg/brctl/util.go
  pkg/cmos/cmos_test.go
  pkg/flash/spimock/spimock_linux.go
  pkg/memio/ports_linux_test.go
  pkg/mount/scuzz/ata.go
  pkg/namespace/cmd.go
  pkg/namespace/namespace.go
  pkg/netstat/format.go
  pkg/securelaunch/measurement/dmi.go
  pkg/smbios/smbios_modifier_test.go
  pkg/strace/tracer_test.go
  pkg/syscallfilter/syscallfilter_linux.go
Due: everything, cmds/exp

ci: add errcheck linter to golangci-lint
  .golangci.yml
Due: none

.gitignore: add .gdb_history
  .gitignore
Due: none

cmds/core/basename: return with non zero status on error
  cmds/core/basename/basename.go
  cmds/core/basename/basename_test.go
Due: everything

deploy: d4b050c7c0708fb7794d06e177b29c41c96f8536
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

pkg/ipmi: remove buf.Bytes()[2] <= 0xFF check
  pkg/ipmi/ipmi.go
Due: everything

cmds/core/strings: use FlagSet.Args to pass args
  cmds/core/strings/strings.go
Due: everything

tag hostname command for plan9 || linux
  cmds/core/hostname/hostname.go
  cmds/core/hostname/hostname_test.go
Due: everything

freebsd port
  cmds/core/df/df.go
  cmds/core/dmesg/dmesg_linux.go
  cmds/core/dmesg/dmesg_linux_test.go
  cmds/core/free/free.go
  cmds/core/free/free_linux.go
  cmds/core/free/free_test.go
Due: everything

freebsd: free, init, and libinit
  cmds/core/free/free_linux_test.go
  cmds/core/init/init_freebsd.go
  pkg/libinit/root_freebsd.go
Due: everything

freebsd: mknod
  cmds/core/mknod/mknod_freebsd.go
Due: everything

cmds/core/pci: make clear it only runs on Linux
  cmds/core/pci/pci_linux.go
  cmds/core/pci/pci_linux_test.go
Due: everything

cmds/core/umount: fix for freebsd
  cmds/core/umount/umount_freebsd.go
Due: everything

netcat/listen.go: remove unreachable return
  cmds/core/netcat/listen.go
Due: everything

pkg/mount: add freebsd Unmount
  pkg/mount/mount_freebsd.go
Due: everything

netcat: build for freebsd
  cmds/core/netcat/connect.go
  cmds/core/netcat/connect_linux.go
  cmds/core/netcat/listen.go
  cmds/core/netcat/listen_linux.go
Due: everything

restore multi-arch multi-os build check
  .github/workflows/go.yml
Due: none

freebsd: mount
  cmds/core/mount/mount.go
Due: everything

cmds/core/dhclient: disable it for freebsd until the dhcp package is fixed
  cmds/core/dhclient/dhclient.go
Due: everything

cmds/core/mount: mount.go -> mount_linux.go
  cmds/core/mount/mount_linux.go
  cmds/core/mount/opts.go
Due: everything

cmds/core/ps: make clear it is only for linux at present
  cmds/core/ps/ps.go
  cmds/core/ps/ps_linux.go
  cmds/core/ps/ps_linux_test.go
Due: everything

cmds/core/brctl: this is linux only
  cmds/core/brctl/brctl_linux.go
  cmds/core/brctl/brctl_linux_test.go
Due: everything

cmds/core/rsdp: make it clear it is linux-specific
  cmds/core/rsdp/rsdp_linux.go
Due: everything

cmds/core/io: disable cmos command for freebsd
  cmds/core/io/cmos.go
Due: everything

pkg/pty: add freebsd support
  pkg/pty/pty_freebsd.go
Due: everything

boot/boot: make it clear it is linux-only
  cmds/boot/boot/boot_linux.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
