Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

cmds/exp/tcpdump: add tcp prints & {number,count,numerical,list-devices} options
  cmds/exp/tcpdump/main.go
Due: cmds/exp

cmds/exp/tcpdump: add tests
  cmds/exp/tcpdump/domain_test.go
  cmds/exp/tcpdump/ethernet.go
  cmds/exp/tcpdump/ethernet_test.go
  cmds/exp/tcpdump/filter.txt
  cmds/exp/tcpdump/icmp_test.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/main_test.go
  cmds/exp/tcpdump/tcp.go
  cmds/exp/tcpdump/tcp_test.go
  cmds/exp/tcpdump/util.go
  cmds/exp/tcpdump/util_test.go
Due: cmds/exp

cmds/exp/tcpdump: add icmp prints and filter
  cmds/exp/tcpdump/domain.go
  cmds/exp/tcpdump/icmp.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/tcp.go
  cmds/exp/tcpdump/util.go
Due: cmds/exp

cmds/exp/tcpdump: add timestamp {t, tt, ttt, tttt, ttttt, nano}, e, x, xx, A, F, verbose, quiet flags
  cmds/exp/tcpdump/domain.go
  cmds/exp/tcpdump/ethernet.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/tcp.go
  cmds/exp/tcpdump/util.go
Due: cmds/exp

tinygo: enable cmd/core/init
  cmds/core/init/fns_unix.go
  pkg/libinit/net_linux.go
  pkg/libinit/net_linux_tinygo.go
Due: everything

tinygo: split watchdog into process based (tiyngo) and socket based (golang) daemon communication.
  cmds/core/watchdogd/watchdogd_linux.go
  pkg/watchdog/cli.go
  pkg/watchdog/cli_tinygo.go
  pkg/watchdogd/watchdogd.go
  pkg/watchdogd/watchdogd_tinygo.go
Due: everything

wip: refactor runes to enums
  pkg/watchdogd/common.go
  pkg/watchdogd/watchdogd.go
Due: everything

cmds/exp/tsort -> cmds/extra/tsort
  cmds/extra/tsort/graph.go
  cmds/extra/tsort/graph_test.go
  cmds/extra/tsort/multiset.go
  cmds/extra/tsort/multiset_test.go
  cmds/extra/tsort/queue.go
  cmds/extra/tsort/queue_test.go
  cmds/extra/tsort/set.go
  cmds/extra/tsort/set_test.go
  cmds/extra/tsort/tsort.go
  cmds/extra/tsort/tsort_test.go
Due: none

cmds/exp/tcpdump: remove unneeded filter-file
  cmds/exp/tcpdump/filter.txt
Due: cmds/exp

cmds/exp/tcpdump: autogenerate well-known-ports map
  cmds/exp/tcpdump/gen.go
  cmds/exp/tcpdump/util.go
  cmds/exp/tcpdump/util_test.go
  cmds/exp/tcpdump/well_known_ports.go
Due: cmds/exp

golangci: fix deprecated config warning
  .golangci.yml
Due: none

pkg/cluster: use t.Run for testing
  pkg/cluster/health/data_test.go
  pkg/cluster/health/health_test.go
Due: everything

cmds/core/du: du command
  cmds/core/du/du.go
Due: everything

cmds/core/du: add run test
  cmds/core/du/du_test.go
Due: everything

cmds/core/du: add test for block counting
  cmds/core/du/du.go
  cmds/core/du/du_test.go
Due: everything

cmds/core/du: clarify error message if no stat_t
  cmds/core/du/du.go
Due: everything

tinygo #2979 update tinygoize to maintain tinygo build constraints
  tools/tinygoize/main.go
Due: none

tinygo #2979 `-tags noasm` makes additional cmds compile
  cmds/core/gzip/gzip.go
  cmds/core/gzip/gzip_test.go
  cmds/core/gzip/tinygo_tag_noasm_amd64.go
  cmds/core/insmod/insmod_linux.go
  cmds/core/insmod/tinygo_tag_noasm_amd64.go
  cmds/core/ntpdate/ntpdate.go
  cmds/core/rmmod/rmmod_linux.go
  cmds/core/rmmod/tinygo_tag_noasm_amd64.go
  cmds/core/strace/strace_linux.go
  cmds/core/strace/strace_linux_test.go
  cmds/exp/bzimage/bzimage.go
  cmds/exp/bzimage/bzimage_test.go
  cmds/exp/bzimage/tinygo_tag_noasm_amd64.go
  cmds/exp/console/console.go
  cmds/exp/console/console_linux.go
  cmds/exp/console/console_plan9.go
  cmds/exp/console/i8042_linux.go
  cmds/exp/console/port_linux.go
  cmds/exp/console/tinygo_tag_noasm_amd64.go
  cmds/exp/console/uart_linux.go
  cmds/exp/efivarfs/efivarfs.go
  cmds/exp/efivarfs/efivarfs_test.go
  cmds/exp/kconf/kconf.go
  cmds/exp/kconf/tinygo_tag_noasm_amd64.go
  cmds/exp/modprobe/modprobe_linux.go
  cmds/exp/modprobe/tinygo_tag_noasm_amd64.go
  cmds/exp/srvfiles/srvfiles.go
  cmds/exp/srvfiles/srvfiles_test.go
  cmds/exp/syscallfilter/main_linux.go
  cmds/exp/tcz/tcz.go
  tools/tinygoize/README.md
  tools/tinygoize/main.go
Due: everything, cmds/exp

feat: add sha512sum
  cmds/core/shasum/shasum.go
  cmds/core/shasum/shasum_test.go
Due: everything

add cluster/nodestat command
  cmds/cluster/nodestats/main.go
  cmds/cluster/nodestats/main_test.go
Due: none

tinygo #2979 address CRs
  tools/tinygoize/README.md
  tools/tinygoize/main.go
Due: none
