Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

pkg/boot/universalpayload: Separate Load method to Load and Exec
  cmds/core/kexec/kexec_linux.go
  pkg/boot/universalpayload/universalpayload.go
Due: everything

golangci: migrate to v2
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

cmds/core/ip: add missing newline to print
  cmds/core/ip/route_linux.go
Due: everything

.circleci/images: enable the tc-u32 filter type in kernel configs
  .circleci/images/kernel-amd64/config_linux.txt
  .circleci/images/kernel-arm/config_linux.txt
  .circleci/images/kernel-arm64/config_linux.txt
Due: none

pkg/tc: add minimal tc-u32 filter parser and formatter
  pkg/tc/filter.go
  pkg/tc/filter_types.go
  pkg/tc/util.go
Due: everything

pkg/tc: fix getTickInUsec and CalcXMitTime, for parsing HTB class args
  pkg/tc/util.go
Due: everything

pkg/tc: print class handle and parent in ShowClass
  pkg/tc/class.go
Due: everything

pkg/tc: remove debug output from AddFilter
  pkg/tc/filter.go
Due: everything

pkg/tc: fix qdisc parent parsing
  pkg/tc/qdisc.go
  pkg/tc/qdisc_test.go
Due: everything

pkg/tc: fix priority and EtherType management for filters
  pkg/tc/filter.go
  pkg/tc/util.go
  pkg/tc/util_test.go
Due: everything

pkg/tc: print qdisc handle and parent in ShowQdisc
  pkg/tc/qdisc.go
  pkg/tc/util.go
Due: everything

pkg/tc: simplify ShowQdisc
  pkg/tc/qdisc.go
Due: everything

pkg/tc: slightly extend filter priority parsing
  pkg/tc/filter.go
Due: everything

pkg/tc: print r2q, default, and direct_qlen for HTB qdisc
  pkg/tc/qdisc.go
Due: everything

.vmtest.yaml: advance to kernels with the tc-u32 filter type enabled
  .vmtest.yaml
Due: none

pkg/tc: remove debug output from ParseHTBClassArgs
  pkg/tc/classes.go
Due: everything

pkg/tc: tweak ShowFilter output
  pkg/tc/filter.go
Due: everything

pkg/tc: print prio, rate, ceil, burst, and cburst for HTB class
  pkg/tc/class.go
  pkg/tc/util.go
Due: everything

integration/generic-tests: add "tc" integration test
  integration/generic-tests/tc_test.go
  integration/generic-tests/testdata/tc/class.want
  integration/generic-tests/testdata/tc/class.want.arm
  integration/generic-tests/testdata/tc/filter.want
  integration/generic-tests/testdata/tc/qdisc.want
Due: none

cmds/core/pidof: add pidof command
  cmds/core/pidof/pidof_linux.go
  cmds/core/pidof/pidof_test.go
  cmds/core/pidof/testdata/1/comm
  cmds/core/pidof/testdata/2/comm
  cmds/core/pidof/testdata/cmdline
  tools/tinygo-buildstatus/statusquo.go
Due: everything

cmds/core/pidof: add platform dependent collect
  cmds/core/pidof/collect_linux.go
  cmds/core/pidof/pidof.go
Due: everything

cmds/exp/tftp: fix parsing port number
  cmds/exp/tftp/main.go
Due: cmds/exp
