Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

cmds/core/head: use io.ReadFull for reading bytes
  cmds/core/head/head.go
  cmds/core/head/head_test.go
Due: everything

cmds/core/head: improve error handling
  cmds/core/head/head.go
Due: everything

cmds/exp/traceopen: trace all open/openat system calls
  cmds/exp/traceopen/traceopen_linux.go
  cmds/exp/traceopen/traceopen_linux_test.go
Due: cmds/exp

pkg/boot: Use a library for xz files Fixes #2750
  pkg/boot/bzimage/bzimage.go
  pkg/boot/bzimage/bzimage_decompress.go
Due: everything

pkg/boot: Use a library for xz files Fixes #2750
  pkg/boot/bzimage/bzimage.go
Due: everything

Added 'issue' command from github.com/xplshn/a-utils
  cmds/exp/issue/issue.go
  cmds/exp/issue/issue_test.go
Due: cmds/exp

Fix syntax issue with return in if else statement
  issue.go
Due: none

Add printf
  cmds/core/printf/printf.go
  cmds/core/printf/printf_test.go
Due: everything

Fix printf, remove cmds/exp/issue from this branch
  cmds/core/printf/printf.go
  cmds/exp/issue/issue.go
  cmds/exp/issue/issue_test.go
Due: everything, cmds/exp

remove misplaced file
  issue.go
Due: none

pkg/boot/grub: add support for grub devicetree command
  pkg/boot/boottest/json.go
  pkg/boot/grub/grub.go
  pkg/boot/grub/testdata_new/ubuntu_16_04_boot.json
  pkg/boot/grub/testdata_new/ubuntu_16_04_boot/grub/grub.cfg
Due: everything

cmds/core/mount: move main to run, remove globals
  cmds/core/mount/mount.go
Due: everything

cmds/core/mount: add tests
  cmds/core/mount/mount_test.go
Due: everything

pkg/boot: UniversalPayload: Add CPU Hob
  pkg/boot/universalpayload/handoffblock.go
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
Due: everything

cmds/core/kexec: Add universalpayload loading process
  cmds/core/kexec/kexec_linux.go
Due: everything

Modify hss-file param in hss gathering to also accept directory paths
  cmds/exp/disk_unlock/disk_unlock.go
  cmds/exp/nvme_unlock/nvme_unlock.go
  pkg/hsskey/hsskey.go
Due: everything, cmds/exp

cmds/core/mount: update error message
  cmds/core/mount/mount.go
Due: everything

Add ipv6 icmp tracing
  pkg/traceroute/icmp4.go
  pkg/traceroute/icmp6.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/util.go
Due: everything

Add icmp tracing
  pkg/traceroute/defaults.go
  pkg/traceroute/header.go
  pkg/traceroute/icmp.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/util.go
Due: everything

Add ipv6 upd tracing
  cmds/exp/traceroute/main.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp6.go
Due: everything, cmds/exp

Remove "collection.go"
  pkg/traceroute/collection.go
Due: everything

Add TCP tracing
  cmds/exp/traceroute/main.go
  pkg/traceroute/defaults.go
  pkg/traceroute/header.go
  pkg/traceroute/module.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp4.go
Due: everything, cmds/exp

Simplify NewTrace function
  pkg/traceroute/trace.go
Due: everything

Add exp/traceroute - Start of Work
  cmds/exp/traceroute/main.go
  pkg/traceroute/collection.go
  pkg/traceroute/defaults.go
  pkg/traceroute/flags.go
  pkg/traceroute/header.go
  pkg/traceroute/module.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp4.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

More cleanups
  cmds/exp/traceroute/main.go
  pkg/traceroute/flags.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
Due: everything, cmds/exp

Rename Packet functions
  pkg/traceroute/icmp.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/udp4.go
Due: everything

Add ipv6 tcp tracing
  pkg/traceroute/header.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
Due: everything

Unify IP address handling across IPv4 route tracing
  cmds/exp/traceroute/main.go
  pkg/traceroute/icmp.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp4.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

Some coverage tests and adaptions for it
  cmds/exp/traceroute/main.go
  cmds/exp/traceroute/traceroute_test.go
  pkg/traceroute/flags.go
  pkg/traceroute/header.go
  pkg/traceroute/icmp4.go
  pkg/traceroute/icmp6.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/traceroute_test.go
  pkg/traceroute/udp4.go
  pkg/traceroute/udp6.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

tinygo: enable gzip
  pkg/gzip/file.go
  pkg/gzip/gunzip_tinygo.go
  pkg/gzip/gzip.go
  pkg/gzip/gzip_tinygo.go
Due: everything

[tinygo] cmds/core/df: use os.Stat instead of unix.Stat() to retrieve device number
  cmds/core/df/dev.go
  cmds/core/df/df.go
  cmds/core/df/df_test.go
  tools/tinygobb/README.md
Due: everything

Minor fixes
  pkg/boot/bzimage/bzimage.go
Due: everything
