Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

cmd2pkg: more golangci-lint bits, I kind of wish it would do them all
  cmds/exp/cmd2pkg/bb.go
Due: cmds/exp

Directly read MBR instead, use bytes.HasSuffix
  pkg/mount/block/blockdev_linux.go
Due: everything

Refactor efiDPP tests to use errors package
  pkg/uefivars/boot/efiDevicePathProtocol_test.go
Due: everything

Move testability comment to be inside public func
  pkg/mount/block/blockdev_linux.go
Due: everything

uefivars: Add boot option parsing for MBR disks
  pkg/mount/block/blockdev_linux.go
  pkg/mount/block/blockdev_test.go
  pkg/uefivars/boot/efiDevicePathProtocol_test.go
  pkg/uefivars/boot/efiDppMedia.go
Due: everything

brctl: use unix.IoctlSetString
  go.mod
  go.sum
  pkg/brctl/brctl.go
  pkg/brctl/util.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_arm64.s
  vendor/golang.org/x/sys/cpu/cpu_gc_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_gccgo_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_netbsd_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_openbsd_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_windows_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/ioctl_signed.go
  vendor/golang.org/x/sys/unix/ioctl_unsigned.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_arm.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: everything

Revert "Add the builtin package, with a forth example"
  pkg/builtin/builtin.go
  pkg/builtin/builtin_test.go
  pkg/builtin/doc.go
  pkg/forth/builtin.go
  pkg/forth/builtin_test.go
Due: everything

uefivars: add FindNode and ContainsNode methods
  pkg/uefivars/boot/efiDevicePathProtocol.go
  pkg/uefivars/boot/efiDevicePathProtocol_test.go
Due: everything

deploy: 2bfa58189b1a43245c1968cef96626b6463447a5
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

uefivars: add support for efivarfs kernel interface
  pkg/uefivars/boot/boot_test.go
  pkg/uefivars/testdata/sys_fw_efivarfs.zip
  pkg/uefivars/testmain_test.go
  pkg/uefivars/vars.go
  pkg/uefivars/vars_test.go
Due: everything

uefivars: add BootNext related parsing functions
  pkg/uefivars/boot/boot.go
  pkg/uefivars/boot/boot_test.go
  pkg/uefivars/testdata/sys_fw_efi_vars.zip
  pkg/uefivars/testdata/sys_fw_efivarfs.zip
  pkg/uefivars/vars_test.go
Due: everything

deploy: d2f469c11e218073211fb8076a85acf939d17825
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

cmds/core/tee: add missing os.O_TRUNC
  cmds/core/tee/tee.go
  cmds/core/tee/tee_test.go
Due: everything

gofix: minmax analysis
  cmds/exp/smbios_transfer/smbios_transfer.go
  pkg/netstat/prog.go
  pkg/strace/syscall_linux.go
Due: everything, cmds/exp

gofix: slice contains analysis
  cmds/core/ip/tunnel_linux.go
  cmds/exp/localboot/grub.go
  pkg/boot/menu/menu_test.go
  pkg/kmodule/kmodule_linux.go
Due: everything, cmds/exp

gofix: gomaps analysis
  pkg/termios/var_linux.go
Due: everything

cmds/exp/lsfabric: avoid recursive printf
  cmds/exp/lsfabric/lsfabric.go
Due: cmds/exp

pkg/dhclient: avoid recursive printf
  pkg/dhclient/dhclient.go
Due: everything

go version upgrade to 1.25
  .github/workflows/go.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/tests.yml
  .github/workflows/tinygo.yml
  .golangci.yml
  go.mod
Due: none

tinygo: updating sha for dev container
  .github/workflows/tinygo.yml
Due: none

uefivars: Refactor boot.go to remove prints
  pkg/uefivars/boot/boot.go
  pkg/uefivars/boot/boot_test.go
  pkg/uefivars/boot/efiDevicePathProtocol_test.go
Due: everything

ping: document differences from iputils-ping
  cmds/core/ping/ping.go
Due: everything

ping: raise default wait time from 100ms to 1000ms
  cmds/core/ping/ping.go
  cmds/core/ping/ping_test.go
Due: everything
