Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

ci: Add Dockerfile to build AMD64 UniversalPayload FIT image
  .circleci/images/upl-fit-amd64/Dockerfile
Due: none

ci: Add Dockerfile to build ARM64 UniversalPayload FIT image
  .circleci/images/upl-fit-arm64/Dockerfile
Due: none

integration: Add universalpayload AMD64 VM test support
  integration/generic-tests/universalpayload_amd64_test.go
Due: none

integration: Add universalpayload ARM64 VM test support
  integration/generic-tests/universalpayload_arm64_test.go
Due: none

cmds/core/stat: stat command with no flags
  cmds/core/stat/run_darwin.go
  cmds/core/stat/run_linux.go
  cmds/core/stat/stat.go
  cmds/core/stat/stat_test.go
  tools/tinygo-buildstatus/statusquo.go
Due: everything

cmds/core/stat: fix error handling for fileinfo
  cmds/core/stat/run_darwin.go
  cmds/core/stat/run_linux.go
Due: everything

pkg/boot/universalpayload: Make space for HOB
  pkg/boot/universalpayload/utilities.go
Due: everything

pkg/ls: reduce code duplication
  pkg/ls/fileinfo_plan9.go
  pkg/ls/fileinfo_tamago.go
  pkg/ls/fileinfo_unix.go
  pkg/ls/fileinfo_windows.go
  pkg/ls/lookup.go
  pkg/ls/ls.go
Due: everything

ci: Specify docker image base version for OVMF.fd
  .circleci/images/ovmf-amd64/Dockerfile
Due: none

ci: Specify docker image base version for QEMU_EFI.fd
  .circleci/images/ovmf-arm64/Dockerfile
Due: none

Revert "ci: Specify docker image base version for OVMF.fd"
  .circleci/images/ovmf-amd64/Dockerfile
Due: none

Revert "ci: Specify docker image base version for QEMU_EFI.fd"
  .circleci/images/ovmf-arm64/Dockerfile
Due: none

Revert "ci: Add Dockerfile to build ARM64 UniversalPayload FIT image"
  .circleci/images/upl-fit-arm64/Dockerfile
Due: none

Revert "ci: Add Dockerfile to build AMD64 UniversalPayload FIT image"
  .circleci/images/upl-fit-amd64/Dockerfile
Due: none

tinygo: cpuid builds
  cmds/core/netcat/netcat.go
  cmds/core/wget/wget.go
  cmds/exp/fbnetboot/main.go
  cmds/exp/netbootxyz/netbootxyz.go
  cmds/exp/pxeserver/main.go
  cmds/exp/srvfiles/srvfiles.go
  cmds/exp/tc/tc.go
  cmds/exp/tcz/tcz.go
  pkg/boot/boot.go
  pkg/curl/schemes.go
  pkg/netcat/net.go
Due: everything, cmds/exp

chore: upgrade github.com/u-root/cpuid
  go.mod
  go.sum
  vendor/github.com/u-root/cpuid/.gitignore
  vendor/github.com/u-root/cpuid/LICENSE
  vendor/github.com/u-root/cpuid/NOTICE
  vendor/github.com/u-root/cpuid/README.md
  vendor/github.com/u-root/cpuid/cpuid.go
  vendor/github.com/u-root/cpuid/cpuid_amd64.go
  vendor/github.com/u-root/cpuid/cpuid_amd64_tinygo.go
  vendor/github.com/u-root/cpuid/cpuid_amd64_tinygo_bridge.go
  vendor/modules.txt
Due: none

netcat: explicit use of IPv4 and IPv6
  cmds/core/netcat/connect.go
  cmds/core/netcat/connect_test.go
  cmds/core/netcat/listen.go
  cmds/core/netcat/listen_test.go
  cmds/core/netcat/netcat.go
Due: everything

netcat: refactor tests
  cmds/core/netcat/connect.go
  cmds/core/netcat/connect_test.go
  cmds/core/netcat/listen.go
  cmds/core/netcat/listen_test.go
  cmds/core/netcat/netcat.go
Due: everything

init: multi console output
  cmds/core/init/init_linux.go
  pkg/cmdline/cmdline.go
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/proc_test.go
  pkg/libinit/root_linux.go
  pkg/libinit/root_linux_test.go
Due: everything

netstat_linux: fix nil deref upon conflicting options
  cmds/core/netstat/netstat_linux.go
Due: everything

netstat_linux: correct "--interface" typo in help text
  cmds/core/netstat/netstat_linux.go
Due: everything

netstat_linux: update whitespace in help text
  cmds/core/netstat/netstat_linux.go
Due: everything

netstat: PrintInterfaceTable: sleep between "--continuous" iterations
  pkg/netstat/interfaces.go
Due: everything

pkg/ls: add more data to FileInfo
  pkg/ls/fileinfo_linux.go
  pkg/ls/fileinfo_openbsd.go
  pkg/ls/filestring_unix.go
Due: everything

pkg/netstat: ignore kernel space pointers under /proc/net
  pkg/netstat/sockets.go
Due: everything

pkg/ls: fix uID and gID and goimports tamago
  pkg/ls/fileinfo_linux.go
  pkg/ls/fileinfo_openbsd.go
  pkg/ls/fileinfo_tamago.go
  pkg/ls/fileinfo_unix.go
Due: everything

pkg/netcat: fix IPv6 address formatting for listen mode
  pkg/netcat/config.go
  pkg/netcat/config_test.go
  pkg/netcat/const.go
Due: everything
