Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

pkg/tftp: fix upload multiple files
  pkg/tftp/tftp.go
Due: everything

pkg/tftp: fix TransferMode
  pkg/tftp/tftp.go
Due: everything

cmds/exp/tftp: clean up help text
  cmds/exp/tftp/main.go
  cmds/exp/tftp/tftp_test.go
  pkg/tftp/tftp.go
Due: everything, cmds/exp

integration/generic-tests: Add tftp test
  integration/generic-tests/testdata/tftp/binary.dat
  integration/generic-tests/testdata/tftp/checksums.sha1
  integration/generic-tests/testdata/tftp/file_a.txt
  integration/generic-tests/testdata/tftp/file_b.txt
  integration/generic-tests/testdata/tftp/file_c.txt
  integration/generic-tests/testdata/tftp/large.txt
  integration/generic-tests/testdata/tftp/small.txt
  integration/generic-tests/tftp_test.go
Due: none

cmds/exp/tftpd: Add a simple TFTP server
  cmds/exp/tftpd/README.md
  cmds/exp/tftpd/main.go
Due: cmds/exp

cmds/exp/tftp: fix parsing port number
  cmds/exp/tftp/main.go
Due: cmds/exp

cmds/exp/tftp: remove markdown docu
  cmds/exp/tftp/readme.md
Due: cmds/exp

cmds/core/echo: remove non-existant \e backslash escape
  cmds/core/echo/echo.go
Due: everything

pkg/boot/universalpayload: Add test case for PCI Root Bridge info
  pkg/boot/universalpayload/utilities_test.go
Due: everything

pkg/boot/universalpayload: Add PCI Root Bridge Device Tree nodes
  pkg/boot/universalpayload/utilities.go
Due: everything

cmds/core/pidof: add platform dependent collect
  cmds/core/pidof/collect_linux.go
  cmds/core/pidof/pidof.go
Due: everything

cmds/core/pidof: add pidof command
  cmds/core/pidof/pidof_linux.go
  cmds/core/pidof/pidof_test.go
  cmds/core/pidof/testdata/1/comm
  cmds/core/pidof/testdata/2/comm
  cmds/core/pidof/testdata/cmdline
  tools/tinygo-buildstatus/statusquo.go
Due: everything

cmds/exp/tc: adapt help messages
  cmds/exp/tc/tc.go
  cmds/exp/tc/tc_test.go
  pkg/tc/class.go
  pkg/tc/classes.go
  pkg/tc/filter.go
  pkg/tc/filter_test.go
  pkg/tc/filter_types.go
  pkg/tc/qdisc.go
  pkg/tc/qdisc_test.go
  pkg/tc/qdiscs.go
  pkg/tc/tc.go
Due: everything, cmds/exp

ci: increase VM test timeout to 20 min
  .github/workflows/tests.yml
Due: none

cmds/core/lsfd: add a minimal lsfd command
  cmds/core/lsfd/lsfd_linux.go
Due: everything

cmds/core/lsfd: add some smoke tests
  cmds/core/lsfd/lsfd_linux_test.go
Due: everything

pkg/boot/universalpayload: Bypass ineligible region in PCI RB info
  pkg/boot/universalpayload/utilities.go
Due: everything

cmds/core/ip: remove unused code
  cmds/core/ip/parsing_linux.go
  cmds/core/ip/parsing_linux_test.go
Due: everything

cmds/core/ip: remove more unused code
  cmds/core/ip/ip_linux.go
Due: everything

cmds/core/ip: refactor add|append|replace|delete
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
Due: everything

cmds/core/ip: restructure code for ip route
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
Due: everything

integration/generic-test: rename helper function in brctl test
  integration/generic-tests/brctl_test.go
Due: none

integration/generic-tests: add ip test
  integration/generic-tests/ip_test.go
Due: none

cmds/core/ip: write new 'ip route' parser
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
Due: everything

acpi: Get RSDP/XSDT pointer using EFI variable
  pkg/acpi/bios.go
Due: everything

tools: update status quo with lsfd
  tools/tinygo-buildstatus/statusquo.go
Due: none

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
