Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

cmds/fwtools/flash: go fix stringscut
  cmds/fwtools/flash/flash_linux.go
Due: everything

pkg/smbios: go fix stringscutprefix
  pkg/smbios/smbios_linux.go
Due: everything

pkg/boot/universalpayload: go fix stringscutprefix
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

pkg/kmodule: go fix forvar
  pkg/kmodule/kmodule_linux.go
Due: everything

cmds/core/gosh: set TabPrints style for liner completion
  cmds/core/gosh/completer_liner.go
Due: everything

golangcilint: update version and add modernize linter
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

pkg/liner: add fork of unmaintained, but useful, peterh/liner
  go.mod
  pkg/liner/COPYING
  pkg/liner/README.md
  pkg/liner/bsdinput.go
  pkg/liner/common.go
  pkg/liner/fallbackinput.go
  pkg/liner/input.go
  pkg/liner/input_darwin.go
  pkg/liner/input_linux.go
  pkg/liner/input_solaris.go
  pkg/liner/input_test.go
  pkg/liner/input_windows.go
  pkg/liner/line.go
  pkg/liner/line_test.go
  pkg/liner/output.go
  pkg/liner/output_solaris.go
  pkg/liner/output_unix.go
  pkg/liner/output_windows.go
  pkg/liner/prefix_test.go
  pkg/liner/race_test.go
  pkg/liner/unixmode.go
  pkg/liner/unixmode_solaris.go
  pkg/liner/width.go
  pkg/liner/width_test.go
  tools/checklicenses/config.json
Due: everything

liner: remove the outputredirected support
  cmds/core/gosh/completer_liner.go
  pkg/liner/common.go
  pkg/liner/input.go
  pkg/liner/line.go
Due: everything

gosh: create history mode 0600, not 0
  cmds/core/gosh/completer_liner.go
Due: everything

pkg/liner: remove tooNarrow
  pkg/liner/line.go
Due: everything

Print more useful error messages for internal errors
  pkg/liner/input.go
  pkg/liner/line.go
Due: everything

pkg/liner: have getColumns always return a reasonable value
  pkg/liner/output_solaris.go
  pkg/liner/output_unix.go
  pkg/liner/output_windows.go
Due: everything

pkg/liner: stopPrompt must apply origMode, not defaultMode
  pkg/liner/input.go
Due: everything

pkg/liner: fix problems around start and stop prompt
  pkg/liner/input.go
Due: everything

Remove peterh/liner from vendor/
  go.mod
  go.sum
  vendor/github.com/peterh/liner/COPYING
  vendor/github.com/peterh/liner/README.md
  vendor/github.com/peterh/liner/bsdinput.go
  vendor/github.com/peterh/liner/common.go
  vendor/github.com/peterh/liner/fallbackinput.go
  vendor/github.com/peterh/liner/input.go
  vendor/github.com/peterh/liner/input_darwin.go
  vendor/github.com/peterh/liner/input_linux.go
  vendor/github.com/peterh/liner/input_solaris.go
  vendor/github.com/peterh/liner/input_windows.go
  vendor/github.com/peterh/liner/line.go
  vendor/github.com/peterh/liner/output.go
  vendor/github.com/peterh/liner/output_solaris.go
  vendor/github.com/peterh/liner/output_unix.go
  vendor/github.com/peterh/liner/output_windows.go
  vendor/github.com/peterh/liner/unixmode.go
  vendor/github.com/peterh/liner/unixmode_solaris.go
  vendor/github.com/peterh/liner/width.go
  vendor/modules.txt
Due: none

pkg/liner: cleanup fmt
  pkg/liner/input.go
Due: everything

cmds/core/tsort: go fix plusbuild
  cmds/core/tsort/generate_graph_fixtures.go
Due: everything

pkg/liner: go fix plusbuild
  pkg/liner/bsdinput.go
  pkg/liner/fallbackinput.go
  pkg/liner/input.go
  pkg/liner/input_darwin.go
  pkg/liner/input_linux.go
  pkg/liner/input_test.go
  pkg/liner/line.go
  pkg/liner/output.go
  pkg/liner/output_unix.go
  pkg/liner/prefix_test.go
  pkg/liner/race_test.go
  pkg/liner/unixmode.go
Due: everything

pkg/liner: make it build for Windows
  pkg/liner/input_windows.go
  pkg/liner/output_windows.go
Due: everything

gosh: make completer_liner the default
  cmds/core/gosh/completer.go
  cmds/core/gosh/completer_bubbline.go
  cmds/core/gosh/completer_liner.go
  cmds/core/gosh/completer_nobuild.go
  cmds/core/gosh/completer_test.go
  cmds/core/gosh/gosh.go
  cmds/core/gosh/gosh_test.go
Due: everything

gofix: stringsseq
  .golangci.yml
  cmds/core/df/df.go
  cmds/core/free/free_linux.go
  cmds/core/kexec/kexec_linux.go
  cmds/core/mount/mount_linux.go
  cmds/core/ps/ps_linux.go
  cmds/core/watchdogd/watchdogd_linux.go
  cmds/exp/fbnetboot/main.go
  cmds/exp/localboot/grub.go
  cmds/exp/pflask/pflask.go
  cmds/exp/pox/pox.go
  cmds/exp/tcz/tcz.go
  cmds/fwtools/flash/flash_linux.go
  pkg/boot/esxi/esxi.go
  pkg/boot/grub/grub.go
  pkg/boot/netboot/ipxe/ipxe.go
  pkg/boot/syslinux/syslinux.go
  pkg/hsskey/hsskey.go
  pkg/kmodule/kmodule_linux.go
  pkg/ldd/ldd_unix.go
  pkg/libinit/root_linux.go
  pkg/mount/block/blockdev_linux.go
  pkg/mount/fs_linux.go
  pkg/msr/msr_linux_amd64.go
  pkg/smbios/struct_parser.go
Due: everything, cmds/exp

deploy: fd7f2aa6dc635ed0ed155aa35665905f2da18cba
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

deploy: ad9947d9001479377266a1ae284ed9e2dd0b5123
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none
