Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

fix(chmod): return `flag provided but not defined` when appropriate
  pkg/core/chmod/chmod.go
Due: everything

feat: add `gzcat` binary and call `pkg/core/gzip` under the hood
  cmds/core/gzcat/gzcat.go
  pkg/core/gzip/gzip.go
Due: everything

pkg/acpi: use CutPrefix instead of has and trim
  pkg/acpi/rsdp_linux.go
Due: everything

Add the builtin package, with a forth example
  pkg/builtin/builtin.go
  pkg/builtin/builtin_test.go
  pkg/builtin/doc.go
  pkg/forth/builtin.go
  pkg/forth/builtin_test.go
Due: everything

tools/testramfs: upgrade to use VMs
  tools/testramfs/testramfs.go
  tools/testramfs/testramfs_test.go
Due: none

testramfs: Execute: return c.Wait directly
  tools/testramfs/testramfs.go
Due: none

pkg/core/ls: clean up os-specific parts
  pkg/core/ls/ls.go
  pkg/core/ls/ls_plan9.go
  pkg/core/ls/ls_unix.go
  pkg/core/ls/ls_windows.go
Due: everything

testramfs: print u-root build time to stderr
  tools/testramfs/testramfs.go
Due: none

testramfs: add asciinema examples for amd/arm/riscv 64
  tools/testramfs/cinema/linux_amd64
  tools/testramfs/cinema/linux_arm64
  tools/testramfs/cinema/linux_riscv64
Due: none

add suffix for .cast files
  tools/testramfs/cinema/linux_amd64.cast
  tools/testramfs/cinema/linux_arm64.cast
  tools/testramfs/cinema/linux_riscv64.cast
Due: none

README.md: add a demo cinema
  README.md
  tools/testramfs/cinema/index.html
Due: none

README.md: add a bit more text on how users can recreate the demo
  README.md
Due: none

tools/testramfs/cinema: fix player embedding
  tools/testramfs/cinema/index.html
Due: none

tools/testramfs/cinema: fix player embedding for real this time
  tools/testramfs/cinema/index.html
Due: none

cmd2pkg: more golangci-lint bits, I kind of wish it would do them all
  cmds/exp/cmd2pkg/bb.go
Due: cmds/exp

fix licenses on tests
  cmds/exp/cmd2pkg/findpkg/test/buildconstraint/tools.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/echo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/foo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/ignoredfile.go
Due: cmds/exp

cmd2pkg: Add a test
  cmds/exp/cmd2pkg/cmd2pkg.go
  cmds/exp/cmd2pkg/cmd2pkg_test.go
Due: cmds/exp

Revert "Add the builtin package, with a forth example"
  pkg/builtin/builtin.go
  pkg/builtin/builtin_test.go
  pkg/builtin/doc.go
  pkg/forth/builtin.go
  pkg/forth/builtin_test.go
Due: everything

acmd2pkg: fixes from golangci-lint
  cmds/exp/cmd2pkg/bb.go
  cmds/exp/cmd2pkg/bbinternal/bb.go
  cmds/exp/cmd2pkg/findpkg/bb.go
Due: cmds/exp

cmd2pkg: fix up more glangci-lint errors
  cmds/exp/cmd2pkg/bbinternal/bb.go
Due: cmds/exp

cmd2pkg: add licenses to tests
  cmds/exp/cmd2pkg/test/12-fancy-cmd/main.go
  cmds/exp/cmd2pkg/test/all_test.go
  cmds/exp/cmd2pkg/test/diamonddep/mod1/cmd/hellowithdep/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod1/cmd/helloworld/helloworld.go
  cmds/exp/cmd2pkg/test/diamonddep/mod1/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod2/pkg/exthello/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod2/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/diamonddep/mod3/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/goembed/main.go
  cmds/exp/cmd2pkg/test/implicitimport/cmd/loghello/hello.go
  cmds/exp/cmd2pkg/test/implicitimport/pkg/defaultlog/log.go
  cmds/exp/cmd2pkg/test/injectldvar/main.go
  cmds/exp/cmd2pkg/test/nameconflict/cmd/nameconflict/main.go
  cmds/exp/cmd2pkg/test/nameconflict/cmd/nameconflict/otherfile.go
  cmds/exp/cmd2pkg/test/nameconflict/pkg/defaultlog/log.go
  cmds/exp/cmd2pkg/test/nested/nestedmod/cmd/p9ufs/main.go
  cmds/exp/cmd2pkg/test/normaldeps/mod1/cmd/getppid/getppid.go
  cmds/exp/cmd2pkg/test/normaldeps/mod1/cmd/helloworld/hello.go
  cmds/exp/cmd2pkg/test/normaldeps/mod2/pkg/hello/hello.go
  cmds/exp/cmd2pkg/test/resolve-modules/deps.go
Due: cmds/exp

cmd2pkg to support built-in uses of u-root and other commands
  cmds/exp/cmd2pkg/bb.go
  cmds/exp/cmd2pkg/bbinternal/bb.go
  cmds/exp/cmd2pkg/cmd2pkg.go
  cmds/exp/cmd2pkg/findpkg/.gitignore
  cmds/exp/cmd2pkg/findpkg/bb.go
  cmds/exp/cmd2pkg/findpkg/bb_test.go
  cmds/exp/cmd2pkg/findpkg/test/buildconstraint/tools.go
  cmds/exp/cmd2pkg/findpkg/test/empty/.gitignore
  cmds/exp/cmd2pkg/findpkg/test/goglob/echo/.gitignore
  cmds/exp/cmd2pkg/findpkg/test/goglob/echo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/foo/.gitignore
  cmds/exp/cmd2pkg/findpkg/test/goglob/foo/main.go
  cmds/exp/cmd2pkg/findpkg/test/goglob/ignoredfile.go
Due: cmds/exp

cmd2pkg: fix errors found by copilot
  cmds/exp/cmd2pkg/cmd2pkg.go
  cmds/exp/cmd2pkg/cmd2pkg_test.go
Due: cmds/exp

cmd2pkg: pre-empting golangci-lint whining
  cmds/exp/cmd2pkg/findpkg/bb.go
Due: cmds/exp

cmd2pkg: remove testing of GO111MODULE=off
  cmds/exp/cmd2pkg/findpkg/bb_test.go
  cmds/exp/cmd2pkg/test/all_test.go
Due: cmds/exp

cmd2pkg: no tests without a Go compiler
  cmds/exp/cmd2pkg/cmd2pkg_test.go
  cmds/exp/cmd2pkg/findpkg/bb_test.go
  cmds/exp/cmd2pkg/test/all_test.go
  cmds/exp/cmd2pkg/test/nameconflict/cmd/nameconflict/main.go
  cmds/exp/cmd2pkg/test/resolve-modules/deps.go
Due: cmds/exp

gosh: clean up autocomplete, courtesy claude.ai
  cmds/core/gosh/completer.go
Due: everything
