Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

fix executeGet: Some tftp-servers do not support file size transmission. Adapted function for infinite read until EOF, then write file to disc.
  pkg/tftp/client.go
  pkg/tftp/tftp.go
  pkg/tftp/tftp_test.go
Due: everything

Move Mock interface to test file
  pkg/tftp/client.go
  pkg/tftp/tftp_test.go
Due: everything

ipmi: Handle short ChassisStatus responses
  pkg/ipmi/ipmi.go
Due: everything

Organize errors for pkg/boot/universalpayload
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_test.go
Due: everything

Add tests to pkg/boot/universalpayload
  cmds/core/kexec/kexec_linux.go
  pkg/boot/universalpayload/handoffblock.go
  pkg/boot/universalpayload/testdata/upl.dtb
  pkg/boot/universalpayload/testdata/upl.dts
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_test.go
Due: everything

pkg/boot/universalpayload: code style changes
  pkg/boot/universalpayload/handoffblock.go
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
Due: everything

fix tftp again: * Throw away old read implementation and simply use io.Copy of resp to localfile * remove debug statement which slipped through review.
  pkg/tftp/tftp.go
Due: everything

cmds/core/cat: remove redundant error handling
  cmds/core/cat/cat.go
Due: everything

cmds/core/readlink: pass stdout instead stdin
  cmds/core/readlink/readlink.go
Due: everything

feat: rush: added env variables support. Created exit, echo, pwd builtins
  cmds/exp/rush/builtins.go
  cmds/exp/rush/cd.go
  cmds/exp/rush/info.go
  cmds/exp/rush/parse.go
Due: cmds/exp

fix: linter warnings
  cmds/exp/rush/builtins.go
  cmds/exp/rush/parse.go
  cmds/exp/rush/rush.go
Due: cmds/exp

restored info.go, cd.go, added internals.go
  cmds/exp/rush/builtins.go
  cmds/exp/rush/cd.go
  cmds/exp/rush/info.go
  cmds/exp/rush/rush.go
Due: cmds/exp

restored info.go, cd.go, added internals.go
  cmds/exp/rush/internals.go
Due: cmds/exp

style: make each builtin a separate file
  cmds/exp/rush/echo.go
  cmds/exp/rush/exit.go
  cmds/exp/rush/internals.go
  cmds/exp/rush/pwd.go
  cmds/exp/rush/rush.go
Due: cmds/exp

deploy: 8680fb5148c2ab4ee89e61d47680b73f056d7c49
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

tinygobb: rework the build process
  tools/tinygobb/builder/builder.go
Due: none

builder: add unit tests
  tools/tinygobb/builder/builder.go
  tools/tinygobb/builder/builder_test.go
Due: none

Try to update node warnings
  .github/workflows/golangci-lint.yml
Due: none

update actions Signed-off-by: Roger Standridge <9526806+archie2x@users.noreply.github.com>
  .github/workflows/codeql-analysis.yml
  .github/workflows/go.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/test-images.yml
  .github/workflows/tests.yml
Due: none

cmds/exp/tcpdump: add check if transport layer is present
  cmds/exp/tcpdump/main.go
Due: cmds/exp

cmds/exp/tcpdump: remove obsolte else case
  cmds/exp/tcpdump/main.go
Due: cmds/exp

pkg/boot: UniversalPayload: Add universalpayload loading process
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
Due: everything

pkg/boot: Add UniversalPayload package
  pkg/boot/universalpayload/utilities.go
Due: everything

pkg/boot: UniversalPayload: Add CPU Hob
  pkg/boot/universalpayload/handoffblock.go
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
Due: everything

cmds/core/kexec: Add universalpayload loading process
  cmds/core/kexec/kexec_linux.go
Due: everything

pkg/boot: UniversalPayload: Add universalpayload SmBios table Hob
  pkg/boot/universalpayload/universalpayload.go
Due: everything
