Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

pkg/forth: small tweak for recovery block
  pkg/forth/forth.go
Due: everything

msr command: add slice support
  cmds/core/msr/msr_linux_amd64.go
Due: everything

msr: fix up and and or; leave cpu and msr on stack
  cmds/core/msr/msr_linux_amd64.go
Due: everything

msr: if stack size is 3 at the end, just print stack[2]
  cmds/core/msr/msr_linux_amd64.go
Due: everything

pkg/forth: add a typeof operator
  pkg/forth/forth.go
  pkg/forth/forth_test.go
Due: everything

msr: use toslice instead of type assertion in wr()
  cmds/core/msr/msr_linux_amd64.go
Due: everything

msr: fix up doc and comments
  cmds/core/msr/doc_linux_amd64.go
  cmds/core/msr/msr_linux_amd64.go
Due: everything

msr: cleanly exit if there are no args
  cmds/core/msr/msr_linux_amd64.go
Due: everything

cmds/exp: wrap errors
  cmds/exp/bzimage/bzimage.go
  cmds/exp/cbmem/gen/gen.go
  cmds/exp/cbmem/io.go
  cmds/exp/cbmem/main_linux.go
  cmds/exp/cbmem/timestamps.go
  cmds/exp/console/console_linux.go
  cmds/exp/dmidecode/data_linux.go
  cmds/exp/dmidecode/dmidecode.go
  cmds/exp/ed/address.go
  cmds/exp/ed/commands.go
  cmds/exp/ed/ed.go
  cmds/exp/ed/filebuffer.go
  cmds/exp/fbnetboot/main.go
  cmds/exp/freq/freq.go
  cmds/exp/localboot/main.go
  cmds/exp/nvme_unlock/nvme_unlock.go
  cmds/exp/pox/pox.go
  cmds/exp/rush/parse.go
  cmds/exp/rush/runone_unix.go
  cmds/exp/smbios_transfer/smbios_transfer.go
  cmds/exp/ssh/main.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcz/tcz.go
Due: cmds/exp

pkg/testutil: fix linter change manually
  pkg/testutil/testutil.go
Due: everything

use big.Rat, not int64, for integers
  pkg/forth/forth.go
Due: everything

correct a comment, add test for mod
  pkg/forth/forth.go
  pkg/forth/forth_test.go
Due: everything

forth: move to big.Rat as the integer type
  pkg/forth/forth.go
  pkg/forth/forth_test.go
Due: everything

uroot_test: wrap errors
  uroot_test.go
Due: none

cmds/fwtools/spidev: wrap errors
  cmds/fwtools/spidev/spidev_linux.go
Due: everything

tools/vpdbootmanager: wrap errors
  tools/vpdbootmanager/get.go
Due: none

cmds/cluster/nodestats: add nolint directive
  cmds/cluster/nodestats/main.go
Due: none

cmds/cluster/nodestat: remove nolint directive
  cmds/cluster/nodestats/main.go
Due: none

cmds/exp/lsfabric: wrap errors
  cmds/exp/lsfabric/lsfabric.go
Due: cmds/exp

golangcilint: add errorlint to handle wrapping errors
  .golangci.yml
Due: none

pkg: wrap errors
  pkg/boot/linux/load_linux_amd64.go
  pkg/msr/msr_linux_amd64.go
Due: everything

cmds/core/gosh: support cd
  cmds/core/gosh/completer.go
Due: everything

Seccomp Tracing
  pkg/strace/tracer.go
Due: everything

cmds/core/xargs: add null to use null byte as delimiter
  cmds/core/xargs/xargs.go
  cmds/core/xargs/xargs_test.go
Due: everything

Clean up the docs; add IA32_PM_ENABLE definition
  cmds/core/msr/msr_linux_amd64.go
  pkg/forth/forth.go
  pkg/forth/forth_test.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
