Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

universalpayload: start each Load with no warnings
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
Due: everything

pkg/boot/grub: skip GRUB configs without entries
  pkg/boot/grub/grub.go
Due: everything

modprobe, kmodule: support Linux kernel module autoloading
  cmds/exp/modprobe/modprobe_linux.go
  cmds/exp/modprobe/modprobe_linux_test.go
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
  pkg/uroot/unixflag/unixflag.go
  pkg/uroot/unixflag/unixflag_test.go
Due: everything, cmds/exp

pkg/dt: read the whole strings block
  pkg/dt/fdt.go
  pkg/dt/fdt_shortread_test.go
Due: everything

cmds/core/sshd: add -net flag with vsock and unix listener support
  cmds/core/sshd/sshd.go
  cmds/core/sshd/sshd_test.go
Due: everything

Attempt to fix circleci test (from Gemini)
  .circleci/config.yml
Due: none

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
