Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

cmd/exp: traceroute: error on invalid protocol
  pkg/traceroute/traceroute.go
Due: everything

cmd/exp: traceroute: add functionality for -p/-port
  cmds/exp/traceroute/main.go
  pkg/traceroute/defaults.go
  pkg/traceroute/icmp4.go
  pkg/traceroute/icmp6.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/udp4.go
  pkg/traceroute/udp6.go
Due: everything, cmds/exp

integration/generic: add traceroute
  integration/generic-tests/traceroute_test.go
  pkg/traceroute/traceroute.go
Due: everything

test: pin image hash for ghcr.io/hugelgupf/vmtest/qemu
  .vmtest.yaml
Due: none

Change the version in go.mod so go download works
  go.mod
Due: none

make Plan 9 booting work again
  pkg/boot/kexec/object.go
  pkg/boot/kexec/object_test.go
  pkg/boot/multiboot/multiboot.go
Due: everything

tools: update status quo with lsfd
  tools/tinygo-buildstatus/statusquo.go
Due: none

cmds/core/lsfd: add some smoke tests
  cmds/core/lsfd/lsfd_linux_test.go
Due: everything

cmds/core/lsfd: add a minimal lsfd command
  cmds/core/lsfd/lsfd_linux.go
Due: everything

cmds/exp/traceroute: fix checksum to be non-zero
  pkg/traceroute/udp6.go
Due: everything

cmds/exp: traceroute: add udpv6 fallback option for local networks
  cmds/exp/traceroute/main.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

cmds/exp: traceroute: linter nits
  integration/generic-tests/traceroute_test.go
  pkg/traceroute/util.go
Due: everything

integration/generic: traceroute: improve sync
  integration/generic-tests/traceroute_test.go
  pkg/traceroute/tcp6.go
Due: everything

Delete pkg/ip directory
  pkg/ip/doc.md
Due: everything

cmds/core/pidof: add single -s flag
  cmds/core/pidof/pidof.go
  cmds/core/pidof/pidof_test.go
  cmds/core/pidof/testdata/3/comm
  cmds/core/pidof/testdata/4/comm
Due: everything

fix: clean up libinit code
  pkg/cmdline/cmdline.go
  pkg/libinit/proc_linux.go
Due: everything

feat: enable multi-reader support
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/root_linux.go
Due: everything

pkg/libinit: handle MultiWriter with 0 or 1 console
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
Due: everything

libinit: do not use multiwriter with single tty
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
Due: everything

multi-console: move code into correct packages
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
  pkg/pty/pty_linux.go
  pkg/termios/termios_linux.go
Due: everything

cmds/core/pidof: use correct args with flags
  cmds/core/pidof/pidof.go
Due: everything

cmds/core/sshd: just use the default shell
  cmds/core/sshd/const_plan9.go
  cmds/core/sshd/const_unix.go
  cmds/core/sshd/sshd.go
Due: everything

cmds/core/pidof: add quite flag
  cmds/core/pidof/pidof.go
  cmds/core/pidof/pidof_test.go
Due: everything

When creating a default route, don't use nil pointers
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
Due: everything
