Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

pkg/liner: gopls improvements
  pkg/liner/line.go
Due: everything

pkg/acpi: fix unsafe memory access on ARM64
  pkg/acpi/rsdp_linux.go
  pkg/acpi/rsdpgetters_linux_arm64.go
  pkg/acpi/rsdpgetters_linux_x86.go
Due: everything

pkg/acpi: fix unsafe memory access on ARM architectures
  pkg/acpi/rsdp_linux.go
  pkg/acpi/rsdpgetters_linux_other.go
  pkg/acpi/rsdpgetters_linux_other_test.go
  pkg/acpi/rsdpgetters_linux_x86.go
Due: everything

ci: bump tinygo container
  .github/workflows/tinygo.yml
  tools/tinygo-buildstatus/statusquo.go
Due: none

cmds/core/cp: use slice.Equal instead of reflect
  cmds/core/cp/cp_test.go
Due: everything

cmds/core/dd: replace reflect.DeepEqual
  cmds/core/dd/dd_test.go
Due: everything

cmds/core/gosh: use slice.Equal instead of reflect
  cmds/core/gosh/completer_test.go
Due: everything

cmds/core/ip: remove reflect.DeepEqual when posible
  cmds/core/ip/address_linux_test.go
  cmds/core/ip/link_linux_test.go
  cmds/core/ip/neigh_linux_test.go
  cmds/core/ip/parsing_linux_test.go
Due: everything

cmds/core/netcat: use slice.Equal instead of reflect
  cmds/core/netcat/connect_test.go
Due: everything

cmds/exp/cmd2pkg: use slice.Equal instead of reflect
  cmds/exp/cmd2pkg/findpkg/bb_test.go
Due: cmds/exp

cmds/exp/ed: remove reflect.DeepEqual when possible
  cmds/exp/ed/filebuffer_test.go
Due: cmds/exp

pkg/ls: support js/wasm, including TinyGo
  pkg/ls/fileinfo_js.go
  pkg/ls/fileinfo_tinygo.go
  pkg/ls/filestring_js.go
Due: everything

dhclient: bump insomniacslk/dhcp for the nclient4 ReadFrom panic fix
  go.mod
  go.sum
  vendor/github.com/insomniacslk/dhcp/dhcpv4/client4/client.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/dhcpv4.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/dhcpv4packet.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/modifiers.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/nclient4/conn_unix.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/option_autoconfigure.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/option_duration.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/option_ips.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/option_relay_agent_information.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/options.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/server4/conn_unix.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/server4/conn_windows.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/server4/server.go
  vendor/github.com/insomniacslk/dhcp/dhcpv4/types.go
  vendor/github.com/insomniacslk/dhcp/dhcpv6/dhcpv6message.go
  vendor/github.com/insomniacslk/dhcp/dhcpv6/dhcpv6relay.go
  vendor/github.com/insomniacslk/dhcp/dhcpv6/iputils.go
  vendor/github.com/insomniacslk/dhcp/dhcpv6/option_sntp_servers.go
  vendor/github.com/insomniacslk/dhcp/dhcpv6/options.go
  vendor/github.com/insomniacslk/dhcp/dhcpv6/server6/conn_unix.go
  vendor/github.com/insomniacslk/dhcp/dhcpv6/types.go
  vendor/github.com/insomniacslk/dhcp/iana/entid.go
  vendor/github.com/insomniacslk/dhcp/internal/xsocket/xsocket.go
  vendor/github.com/insomniacslk/dhcp/internal/xsocket/xsocket_cloexec.go
  vendor/github.com/insomniacslk/dhcp/internal/xsocket/xsocket_nocloexec.go
  vendor/github.com/insomniacslk/dhcp/netboot/netconf.go
  vendor/modules.txt
Due: none

tinygo: drop fbnetboot from the build status quo
  tools/tinygo-buildstatus/statusquo.go
Due: none

pkg/finddrive: support E1S boot drives via SMBIOS slot designation
  cmds/exp/nvme_unlock/nvme_unlock.go
  cmds/exp/nvme_unlock/nvme_unlock_test.go
  pkg/finddrive/finddrive_linux.go
  pkg/finddrive/finddrive_linux_test.go
Due: everything, cmds/exp

pkg/acpi: remove reflect.DeepEqual
  pkg/acpi/acpi.go
  pkg/acpi/acpi_test.go
Due: everything

cmds/core/ip: go fix stringscut
  cmds/core/ip/link_linux.go
Due: everything

pkg/ls: read the stat fields TinyGo does provide on js/wasm
  pkg/ls/fileinfo_tinygo.go
Due: everything

Fix out-of-bounds panic in ReadHssFromFile
  pkg/hsskey/filereader.go
  pkg/hsskey/filereader_test.go
Due: everything

fix: update test to match updated tty code
  pkg/libinit/proc_linux_test.go
Due: everything

init: move SetEnv and CreateRootfs before prints
  cmds/core/init/init.go
Due: everything

fix: setup full PTY multiplexing early for init's own I/O
  pkg/libinit/root_linux.go
Due: everything
