Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

codecov: allow 1% threshold on component project status
  codecov.yml
Due: none

pkg/finddrive: define BootSlotDesignationRegex constant
  pkg/finddrive/finddrive_linux.go
Due: everything

cmds/core/kexec: replace reflect DeepEqual
  cmds/core/kexec/kexec_test.go
Due: everything

deploy: a4e81ffa4751c9d09ca25fe6651e1946f495d249
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

cmds/exp/cmd2pkg: relace DeepEqual with slice.Equal
  cmds/exp/cmd2pkg/findpkg/bb_test.go
Due: cmds/exp

cmds/exp/rush: repaces DeepEqual with slices.Equal
  cmds/exp/rush/parse_test.go
Due: cmds/exp

deploy: 9c4191fe8c8375bae05eef3f03cab9539f604b39
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

pkg/dt: fix AsStringList loop
  pkg/dt/node.go
  pkg/dt/node_test.go
Due: everything

tynigo: update to tinygo v0.42.0
  .github/workflows/tinygo.yml
  tools/tinygo-buildstatus/statusquo.go
Due: none

cmds/core/xargs: add error check
  cmds/core/xargs/xargs.go
Due: everything

cmds/core/reboot: add reboot command
  cmds/core/reboot/reboot_linux.go
  tools/tinygo-buildstatus/statusquo.go
  tools/tinygobb/README.md
Due: everything

cmds/core/poweroff: commit filesystem caches to disk before poweroff
  cmds/core/poweroff/poweroff_linux.go
Due: everything

golangcilint: add arm64
  .github/workflows/golangci-lint.yml
Due: none

pkg/boot/universalpayload: fix revive comments
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

pkg/boot/universalpayload: fix error revive
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

golangcilint: add riscv64
  .github/workflows/golangci-lint.yml
Due: none

Fix the misleading comment in fs9
  pkg/termios/fs9_plan9_test.go
  pkg/termios/fs_plan9.go
Due: everything

termios: add docs.go file, export File from TTYIO
  pkg/termios/docs.go
  pkg/termios/termios.go
  pkg/termios/termios_bsd.go
  pkg/termios/termios_linux.go
  pkg/termios/termios_plan9.go
Due: everything

ip: add peer option for point-to-point links
  cmds/core/ip/address_linux.go
  cmds/core/ip/neigh_linux_test.go
  cmds/core/ip/parsing_linux.go
  cmds/core/ip/parsing_linux_test.go
Due: everything

termios: add Min and Time fields to TTY struct
  pkg/termios/sgtty.go
  pkg/termios/termios.go
  pkg/termios/termios_test.go
Due: everything

pkg/termios: get speed right on Linux
  .gitignore
  pkg/termios/sgtty.go
  pkg/termios/termios_linux.go
  pkg/termios/termios_test.go
  pkg/termios/var_linux.go
Due: everything

cmds/core/slattach
  cmds/core/slattach/main_linux.go
Due: everything

integration: run kexec_load tests on riscv64
  .github/workflows/tests.yml
  integration/generic-tests/kexec_test.go
Due: none

integration: attach socket NICs with -netdev/-device
  integration/generic-tests/ping_test.go
  integration/generic-tests/traceroute_test.go
Due: none

ci: ignore slattach for tinygo
  tools/tinygo-buildstatus/statusquo.go
Due: none
