Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

integration/generic-tests: pin kernel images with tunneling support
  .vmtest.yaml
Due: none

integration/generic-tests: add ipip, vti, gre tunnel modes
  integration/generic-tests/ip_test.go
Due: none

integration/generic-tests: add ip tunnel {add | del | show } cmds
  integration/generic-tests/ip_test.go
Due: none

cmds/core/ip: support for 'dev' in tunnel show cmd
  cmds/core/ip/tunnel_linux.go
Due: everything

cmds/core/ip: enhance ip tunnel show output
  cmds/core/ip/tunnel_linux.go
  cmds/core/ip/tunnel_linux_test.go
Due: everything

cmds/core/ip: add key option for tunnel subcommand
  cmds/core/ip/tunnel_linux.go
Due: everything

cmds/core/ip: fix validation boolean default on tunnel deletion
  cmds/core/ip/tunnel_linux.go
Due: everything

cmds/core/ip: fix tunnel mode prints
  cmds/core/ip/tunnel_linux.go
Due: everything

cmds/core/ip: remove unused flag in tunnel subcommand help text
  cmds/core/ip/tunnel_linux.go
Due: everything

cmds/core/ip: fix ip neigh add cmd by correct NUD default
  cmds/core/ip/neigh_linux.go
Due: everything

integration/generic-tests: add ip neigh cmds to ip test
  integration/generic-tests/ip_test.go
Due: none

cmds/core/ip: improve ip neigh show prints
  cmds/core/ip/neigh_linux.go
Due: everything

cmds/core/ip: fix NUD state parsing in neigh subcommand
  cmds/core/ip/neigh_linux.go
Due: everything

cmds/core/ip: add parsing function for both addr and CIDR
  cmds/core/ip/parsing_linux.go
  cmds/core/ip/parsing_linux_test.go
Due: everything

cmds/core/ip: neigh show is filterable by IP or CIDR
  cmds/core/ip/neigh_linux.go
  cmds/core/ip/neigh_linux_test.go
Due: everything

cmds/core/ip: fix & extend ip neigh flush capabilities
  cmds/core/ip/neigh_linux.go
Due: everything

integration/generic-tests: add ip neigh show cmd to ip test
  integration/generic-tests/ip_test.go
Due: none

cmds/core/ip: neigh subcommand accepts delete as del
  cmds/core/ip/neigh_linux.go
Due: everything

cmds/core/ip: add additional testcase for parseAddressOrCIDR
  cmds/core/ip/parsing_linux_test.go
Due: everything

integration/generic-tests: add ip neigh replace cmd to ip test
  integration/generic-tests/ip_test.go
Due: none

integration/generic-tests: remove additional prints from ip test
  integration/generic-tests/ip_test.go
Due: none

cmds/core/ip: add additional testcases for neigh funcs
  cmds/core/ip/neigh_linux.go
  cmds/core/ip/neigh_linux_test.go
Due: everything

integration/generic-tests: test ip flush functionality
  integration/generic-tests/ip_test.go
Due: none

cmd/exp: traceroute: add functionality for -p/-port
  cmds/exp/traceroute/main.go
  pkg/traceroute/defaults.go
  pkg/traceroute/icmp4.go
  pkg/traceroute/icmp6.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/udp4.go
  pkg/traceroute/udp6.go
Due: everything, cmds/exp
