Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

pkg/cpio: add tests for cpio.go functions
  pkg/cpio/cpio_test.go
Due: everything

pkg/cpio: add more archive tests
  pkg/cpio/archive_test.go
Due: everything

Move to cmds/exp
  cmds/exp/tftp/main.go
  cmds/exp/tftp/tftp_test.go
Due: cmds/exp

Fill printHelp to serve its purpose
  pkg/tftp/tftp.go
Due: everything

Add cmds/core/tftp
  cmds/core/tftp/client.go
  cmds/core/tftp/cmds.go
  cmds/core/tftp/tftp.go
  cmds/core/tftp/tftp_test.go
Due: everything

Some more tests Some more comments
  pkg/tftp/client.go
  pkg/tftp/tftp.go
  pkg/tftp/tftp_test.go
Due: everything

Clean up main.go Add Synopsis
  cmds/core/tftp/main.go
Due: everything

Implement direct command execution and sacrifice server:file format for now
  cmds/core/tftp/main.go
  pkg/tftp/client.go
  pkg/tftp/tftp.go
  pkg/tftp/tftp_test.go
Due: everything

Clean up code: * Seperate into pkg/tftp and cmds/core/tftp * Split tests accordingly * Add more tests
  cmds/core/tftp/cmds.go
  cmds/core/tftp/main.go
  cmds/core/tftp/tftp_test.go
  pkg/tftp/client.go
  pkg/tftp/tftp.go
  pkg/tftp/tftp_test.go
Due: everything

remove elvish from tests
  .golangci.yml
  uroot_test.go
Due: none

update cmds/core/man/data via go:generate
  cmds/core/man/data/data.go
Due: everything

examples/uinit: call generic bin/defaultsh
  examples/uinit/README.md
  examples/uinit/uinit.go
Due: none

pkg/checker/commandexecutor: use gosh as default shell
  pkg/checker/commandexecutor.go
Due: everything

remove elvish from various listings, exclusions, etc.
  cmds/core/sshd/const_unix.go
  integration/README.md
  tools/checklicenses/config.json
  tools/tinygobb/README.md
Due: everything

pkg/upath/symlink: replace usage of elvish with gosh
  pkg/upath/symlink.go
  pkg/upath/symlink_test.go
Due: everything

Add readme.md
  cmds/exp/tftp/readme.md
Due: cmds/exp

docs: update README for webiste deployments
  README.md
Due: none

pkg/cpio: utils tests
  pkg/cpio/utils_test.go
Due: everything

spidev: process arguments for raw command
  cmds/fwtools/spidev/spidev_linux.go
  cmds/fwtools/spidev/spidev_linux_test.go
Due: everything

cmds/core/ls: Fix flag parsing
  cmds/core/ls/ls.go
Due: everything

website: exchange dots with squares
  docs/src/_includes/svg/color-squares.svg
  docs/src/images/meta/social-share.png
  docs/src/index.njk
  docs/src/scss/blocks/_home-hero.scss
Due: none

deploy: da432eb38254a5ece54bd6c1548996c501ca6d5b
  CNAME
  images/meta/social-share.png
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

hotfix: re-add missing CNAME file
  CNAME
Due: none

pkg/rand: add fallback test for linux
  pkg/rand/random_linux_test.go
Due: everything

cmds/core/strace: fix build for arm64
  cmds/core/strace/strace_linux.go
Due: everything

cmds/core/strace: rewrite and add smoke tests
  cmds/core/strace/strace_linux.go
  cmds/core/strace/strace_linux_test.go
Due: everything

cmds/core/strace: use files and remove -race
  cmds/core/strace/strace_linux.go
  cmds/core/strace/strace_linux_test.go
Due: everything
