Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

ci: update golangci-linter
  .golangci.yml
Due: none

ci/lint: fix linter issues caused by unparam
  cmds/core/du/du.go
  cmds/core/du/du_test.go
  cmds/core/fusermount/fusermount.go
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
  cmds/core/ls/ls.go
  cmds/core/netcat/listen_test.go
  cmds/core/netcat/netcat.go
  cmds/core/netcat/netcat_test.go
  cmds/core/scp/scp.go
  cmds/core/shasum/shasum.go
  cmds/core/wc/wc.go
  cmds/exp/cbmem/gen/gen.go
  cmds/exp/rush/cmd_test.go
  cmds/exp/rush/parse.go
  cmds/exp/rush/parse_test.go
  cmds/exp/rush/rush.go
  cmds/exp/tcz/tcz.go
  pkg/boot/bzimage/kver_test.go
  pkg/boot/ebda/ebda_test.go
  pkg/boot/linux/load_linux_image_test.go
  pkg/boot/multiboot/internal/trampoline/trampoline_linux_amd64.go
  pkg/brctl/util.go
  pkg/cmos/cmos_test.go
  pkg/flash/spimock/spimock_linux.go
  pkg/memio/ports_linux_test.go
  pkg/mount/scuzz/ata.go
  pkg/namespace/cmd.go
  pkg/namespace/namespace.go
  pkg/netstat/format.go
  pkg/securelaunch/measurement/dmi.go
  pkg/smbios/smbios_modifier_test.go
  pkg/strace/tracer_test.go
  pkg/syscallfilter/syscallfilter_linux.go
Due: everything, cmds/exp

cmds/exp/netbootxyz: fix staticcheck gosimple issues
  cmds/exp/netbootxyz/netbootxyz.go
Due: cmds/exp

pkg/boot/universalpayload: omit comparison with boolean constant
  pkg/boot/universalpayload/utilities.go
Due: everything

pkg/boot/menu: omit redundant nil check
  pkg/boot/menu/menu_test.go
Due: everything

cmds/exp/tcpdump: use String() instead of fmt.Sprintf
  cmds/exp/tcpdump/tcp.go
Due: cmds/exp

pkg/securelaunch: use bytes.Equals instead bytes.Compare
  pkg/securelaunch/vm_test.go
Due: everything

pkg/watchdogd: remove cleanup loop
  pkg/watchdogd/watchdogd.go
Due: everything

cmds/core/netcat: eliminate dead condition
  cmds/core/netcat/listen.go
Due: everything

netcat: clean up SSL option processing
  cmds/core/netcat/connect.go
  cmds/core/netcat/listen.go
  cmds/core/netcat/netcat.go
  pkg/netcat/ssl.go
  pkg/netcat/ssl_config.go
  pkg/netcat/ssl_test.go
Due: everything

pkg/netcat: move SSLOptions.GenerateTLSConfiguration() to temporary source
  pkg/netcat/ssl.go
  pkg/netcat/ssl_config.go
Due: everything

integration/generic-tests/netcat_test: make netcatVM() variadic
  integration/generic-tests/netcat_test.go
Due: none

integration/generic-tests: add netcat SSL tests
  integration/generic-tests/netcat_test.go
  integration/generic-tests/testdata/netcat/ssl_192_168_0_2.crt
  integration/generic-tests/testdata/netcat/ssl_192_168_0_2.key
  integration/generic-tests/testdata/netcat/ssl_fd51_3681_1eb4__2.crt
  integration/generic-tests/testdata/netcat/ssl_fd51_3681_1eb4__2.key
  integration/generic-tests/testdata/netcat/ssl_netcat4.crt
  integration/generic-tests/testdata/netcat/ssl_netcat4.key
  integration/generic-tests/testdata/netcat/ssl_netcat4_192_168_0_2.crt
  integration/generic-tests/testdata/netcat/ssl_netcat4_192_168_0_2.key
  integration/generic-tests/testdata/netcat/ssl_netcat6.crt
  integration/generic-tests/testdata/netcat/ssl_netcat6.key
  integration/generic-tests/testdata/netcat/ssl_netcat6_fd51_3681_1eb4__2.crt
  integration/generic-tests/testdata/netcat/ssl_netcat6_fd51_3681_1eb4__2.key
  integration/generic-tests/testdata/netcat/ssl_u_root_netcat_CA.crt
Due: none

cmds/core/netcat: clean-up usage message
  cmds/core/netcat/netcat.go
  cmds/core/netcat/netcat_test.go
  pkg/netcat/exec.go
Due: everything

pkg/boot/bls: remove redundant brake
  pkg/boot/bls/bls.go
Due: everything

golangci: add gosimple (part of staticcheck) linter
  .golangci.yml
Due: none

pkg/boot/universalpayload: Add test case to cover SMBIOS3 node
  pkg/boot/universalpayload/utilities_test.go
Due: everything

pkg/boot/universalpayload: Separate Load method to Load and Exec
  cmds/core/kexec/kexec_linux.go
  pkg/boot/universalpayload/universalpayload.go
Due: everything

pkg/smbios: Provide a new method to get SMBIOS3 header size
  pkg/smbios/smbios.go
Due: everything

pkg/boot/universalpayload: Provide SMBIO3 info in device tree
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
Due: everything

pkg/boot/universalpayload: Suppress warning message printing
  cmds/core/kexec/kexec_linux.go
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
Due: everything

cmds/core/echo: use ReplaceAll
  cmds/core/echo/echo.go
Due: everything
