Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

pkg/boot/universalpayload: Enable Graphic for QEMU environment
  .circleci/images/kernel-amd64/config_linux.txt
  .circleci/images/kernel-arm64/config_linux.txt
Due: none

pkg/boot/universalpayload: Move Graphic and Serial Port out of PCI RB
  pkg/boot/universalpayload/utilities.go
Due: everything

pkg/boot/universalpayload: Refine trampoline code
  pkg/boot/universalpayload/trampoline_amd64.s
  pkg/boot/universalpayload/trampoline_arm64.s
Due: everything

pkg/boot/universalpayload: Skip reporting PCI Root Bridge resource region
  pkg/boot/universalpayload/handoffblock.go
Due: everything

cmds/exp/serial: change exit program as in picocom
  cmds/exp/serial/serial.go
Due: cmds/exp

Update gobusybox so Plan 9 builds work
  go.mod
  go.sum
  vendor/github.com/u-root/gobusybox/src/pkg/bb/bbmain/cmd/main.go
  vendor/github.com/u-root/gobusybox/src/pkg/golang/build.go
  vendor/github.com/u-root/gobusybox/src/pkg/golang/compiler.go
  vendor/modules.txt
Due: none

Add Plan 9 instructions to the README
  README.md
Due: none

use tinygo docker container image instead of manual building
  .github/workflows/tinygo.yml
Due: none

split core and exp step summaries
  .github/workflows/tinygo.yml
  tools/regression/pkg/builder.go
Due: none

delme: cmdout test
  .github/workflows/tinygo.yml
Due: none

check predefined build dir for binPath measuring
  tools/regression/pkg/builder.go
Due: none

cmds/core/tail: simplify thisChunksSize definition
  cmds/core/tail/tail.go
Due: everything

pkg/netstat: fix hexademical parsing
  pkg/netstat/sockets.go
Due: everything

pkg/netstat: fix parsing of /proc/net/unix
  pkg/netstat/sockets.go
Due: everything

Add shell tag to plan 9 instructions
  README.md
Due: none

update workflow to make llvm, fix golangci-lint issues
  .github/workflows/tinygo.yml
  tools/regression/main.go
  tools/regression/pkg/builder.go
Due: none

add tinygo cmdlet builder and ci regression test
  .github/workflows/tinygo.yml
  tools/regression/README.md
  tools/regression/main.go
  tools/regression/pkg/builder.go
Due: none

fix builder nits, update CI to use more cores
  .github/workflows/tinygo.yml
  tools/regression/main.go
  tools/regression/pkg/builder.go
Due: none

tinygo regression: refactor and add allow list
  .github/workflows/tinygo.yml
  tools/tinygo-buildstatus/README.md
  tools/tinygo-buildstatus/main.go
  tools/tinygo-buildstatus/pkg/builder.go
  tools/tinygo-buildstatus/statusquo.go
Due: none

increase status quo report verbosity
  tools/tinygo-buildstatus/main.go
Due: none

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
