Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

pkg/dt: bound FDT allocations by the input size
  pkg/dt/fdt.go
  pkg/dt/fdt_test.go
Due: everything

integration: attach socket NICs with -netdev/-device
  integration/generic-tests/ping_test.go
  integration/generic-tests/traceroute_test.go
Due: none

smbios: terminate ParseInfo loop on TableTypeEndOfTable
  pkg/smbios/info.go
Due: everything

pkg/termios: remove comment-outed references to CBAUD in *bsd.go
  pkg/termios/termios_bsd.go
Due: everything

termios/termios_bsd.go: use package constants for ioctl
  pkg/termios/termios_bsd.go
Due: everything

termios/termios_linux.go: set baud rate the old way
  pkg/termios/termios_linux.go
Due: everything

termios/sgtty.go: use per-os functions for Get/SetTermios
  pkg/termios/sgtty.go
Due: everything

pkg/dt: validate the declared FDT extent with a read
  pkg/dt/fdt.go
  pkg/dt/fdt_test.go
Due: everything

pkg/dt: read the complete FDT strings block
  pkg/dt/fdt.go
  pkg/dt/fdt_test.go
Due: everything

manpkg/termios: manage Linux B* bauds and values
  pkg/termios/termios_linux.go
  pkg/termios/var_darwin.go
  pkg/termios/var_freebsd.go
  pkg/termios/var_linux.go
  pkg/termios/var_netbsd.go
  pkg/termios/var_openbsd.go
Due: everything

getty: baud rate is limited to 32 bits
  cmds/exp/getty/getty.go
Due: cmds/exp

modprobe, kmodule: support Linux kernel module autoloading
  cmds/exp/modprobe/modprobe_linux.go
  cmds/exp/modprobe/modprobe_linux_test.go
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
  pkg/uroot/unixflag/unixflag.go
  pkg/uroot/unixflag/unixflag_test.go
Due: everything, cmds/exp

pkg/dt: keep bounds-check errors in one line
  pkg/dt/fdt.go
Due: everything

cmds/core/sshd: add -net flag with vsock and unix listener support
  cmds/core/sshd/sshd.go
  cmds/core/sshd/sshd_test.go
Due: everything

integration: match KEXEC=Y as a whole cmdline argument
  integration/generic-tests/kexec_test.go
Due: none

kexec: explain kexec_file_load failures
  cmds/core/kexec/kexec_linux.go
  cmds/core/kexec/kexec_test.go
  pkg/boot/kexec/kexec_fileload_other_linux.go
Due: everything

menu: exec the shell instead of running it as a child
  pkg/boot/menu/menu.go
Due: everything

Attempt to fix circleci test (from Gemini)
  .circleci/config.yml
Due: none

kexec: return universal payload errors, put %w last
  cmds/core/kexec/kexec_linux.go
Due: everything

cmds/core/timeout: replace errors.As with AsType
  cmds/core/timeout/run.go
  cmds/core/timeout/timeout_test.go
Due: everything

deploy: 04fdcce8b2f324a86b0ca34b6d5d8eff3f03844b
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

ci: fix some words from ignorelist and remove them
  .codespellrc
  cmds/core/ping/ping_test.go
  cmds/core/touch/touch_test.go
  cmds/exp/tftp/tftp_test.go
  pkg/boot/grub/testdata/bash_wrapper.sh
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_test.go
Due: everything, cmds/exp

pkg/boot/linux: pass KASLR and RNG seeds to arm64 kernels
  pkg/boot/linux/load_linux_image.go
  pkg/boot/linux/load_linux_image_test.go
Due: everything

pkg/boot/linux: mark the device tree as passed by LinuxBoot
  pkg/boot/linux/load_linux_image.go
  pkg/boot/linux/load_linux_image_test.go
Due: everything

universalpayload: return the load error last
  cmds/core/kexec/kexec_linux.go
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
