Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

pkg/boot/universalpayload: Pass all memory information to UPL
  pkg/boot/universalpayload/handoffblock.go
Due: everything

pkg/dt/node: Add Uint32 array properties support
  pkg/dt/node.go
Due: everything

pkg/boot/universalpayload: Up align region size to page size
  pkg/boot/universalpayload/handoffblock.go
Due: everything

pkg/boot/universalpayload: update ACPI RSDP table data fetch logic
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

pkg/boot/universalpayload: Update universalpayload test case
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
  pkg/boot/universalpayload/utilities_unimplemented.go
Due: everything

pkg/mount: add tmpfs
  pkg/mount/magic.go
  pkg/mount/mount_linux_test.go
Due: everything

add tinygo cmdlet builder and ci regression test
  .github/workflows/tinygo.yml
  tools/regression/README.md
  tools/regression/main.go
  tools/regression/pkg/builder.go
Due: none

cmds/core/necat: add os.ErrInvalid error to argument parsing errors
  cmds/core/netcat/netcat.go
Due: everything

cmds/core/netcat: fix parsing of source-port flag
  cmds/core/netcat/netcat.go
Due: everything

cmds/core/netcat: add more testcases for evaluation of args and flags
  cmds/core/netcat/netcat_test.go
Due: everything

update workflow to make llvm, fix golangci-lint issues
  .github/workflows/tinygo.yml
  tools/regression/main.go
  tools/regression/pkg/builder.go
Due: none

fix builder nits, update CI to use more cores
  .github/workflows/tinygo.yml
  tools/regression/main.go
  tools/regression/pkg/builder.go
Due: none

pkg/namespace: remove built-in redefinitions
  pkg/namespace/builder_test.go
  pkg/namespace/namespace.go
Due: everything

deploy: 740453c0604e670704c7b47f5a2ae5db10079042
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

pkg/namespace: remove more built-in redefinitions
  pkg/namespace/namespace.go
  pkg/namespace/namespace_test.go
  pkg/namespace/namespace_unix.go
Due: everything

golangcilint: fix built-in redefintions
  cmds/core/dd/dd.go
  cmds/core/dmesg/dmesg_linux.go
  cmds/exp/efivarfs/efivarfs.go
  pkg/acpi/rsdp.go
  pkg/boot/menu/menu_test.go
  pkg/boot/purgatory/purg_load.go
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/strace/tracer.go
  pkg/tc/util.go
  pkg/tss/nvram.go
  pkg/vpd/flashromvpd.go
Due: everything, cmds/exp

ci: bump golangcilint version
  .github/workflows/golangci-lint.yml
Due: none

cmds/core/dmesg: remove unused struct
  cmds/core/dmesg/dmesg_linux.go
Due: everything

pkg/boot/universalpayload: Enable Graphic for QEMU environment
  .circleci/images/kernel-amd64/config_linux.txt
  .circleci/images/kernel-arm64/config_linux.txt
Due: none

pkg/boot/universalpayload: Pass boot parameters by FDT format
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

cmds/exp/page: restore terminal back if case of signal
  cmds/exp/page/page.go
Due: cmds/exp
