Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

integration/generic-tests-cpu: go fix testingcontext
  .golangci.yml
  integration/generic-tests-cpu/ip_linux_test.go
Due: none

deploy: 34daa4f3799e85b4d46d71bfa02276383f7b0eab
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

deploy: 96aff73df8fb5fcba192dd378d9a1dfbd8fe37b6
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

deploy: 707777e65963c9cb23befe7b380c5668ba679a46
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

make Plan 9 booting work again
  pkg/boot/kexec/object.go
  pkg/boot/kexec/object_test.go
  pkg/boot/multiboot/multiboot.go
Due: everything

golangcilint: go fix any
  .golangci.yml
  cmds/core/lockmsrs/lockmsrs_linux_amd64.go
  cmds/exp/lsfabric/lsfabric.go
  pkg/liner/input.go
  pkg/liner/line.go
Due: everything, cmds/exp

deploy: 2742aa0b69530da399f7b037f21e64c1b0d7a680
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

pkg/msr: go fix slicessort
  .golangci.yml
  pkg/msr/msr_linux_amd64.go
Due: everything

golangcilint: go fix stringsbuilder
  .golangci.yml
  cmds/core/ip/neigh_linux.go
  cmds/core/ip/tuntap_linux.go
  cmds/core/man/gen/gen.go
  cmds/core/ps/ps_linux.go
  cmds/exp/cbmem/main_linux.go
  cmds/exp/ed/commands.go
  cmds/exp/ed/system.go
  cmds/exp/lsfabric/lsfabric.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/tcp.go
  cmds/exp/tcpdump/util.go
  pkg/boot/bzimage/bzimage.go
  pkg/brctl/brctl.go
  pkg/cmdline/cmdline.go
  pkg/dt/print.go
  pkg/hsskey/filereader.go
  pkg/mount/scuzz/control.go
  pkg/msr/msr_linux_amd64.go
  pkg/smbios/type43_tpm_device.go
  pkg/termios/sgtty.go
  pkg/tss/capabilities.go
  pkg/uefivars/boot/efiDevicePathProtocol.go
Due: everything, cmds/exp

golangcilint: go fix waitgroup
  .golangci.yml
  cmds/core/netcat/connect.go
  cmds/core/netcat/connect_test.go
  cmds/core/netcat/listen_test.go
  cmds/exp/pxeserver/main.go
  pkg/strace/tracer_test.go
Due: everything, cmds/exp

golangcilint: go fix rangeint
  cmds/core/ps/ps_linux.go
  cmds/exp/fbnetboot/main.go
  cmds/exp/ipmidump/ipmidump.go
  cmds/exp/smbios_transfer/smbios_transfer.go
  pkg/boot/fit/fit_test.go
  pkg/boot/grub/entry.go
  pkg/boot/systembooter/bootentry.go
  pkg/hsskey/filereader.go
  pkg/hsskey/hsskey.go
  pkg/ipmi/ocp/ocp_linux.go
  pkg/liner/line.go
  pkg/netstat/prog.go
  pkg/netstat/statistics.go
  pkg/pty/pty_linux.go
  pkg/securelaunch/measurement/cpuid.go
  pkg/securelaunch/tpm/tpm.go
  pkg/smbios/smbios_modifier_test.go
  pkg/tss/capabilities.go
  pkg/tss/pcr.go
  pkg/uefivars/boot/boot_test.go
Due: everything, cmds/exp

add AI_POLICY file
  AI_POLICY.md
Due: none

golangcilint: enable rangeint
  .golangci.yml
Due: none

golangcilint: go fix reflecttypefor
  .golangci.yml
  cmds/exp/cbmem/main_linux.go
  pkg/lsb/initscripts.go
  pkg/netstat/statistics.go
  pkg/smbios/struct_parser.go
Due: everything, cmds/exp

cmds/core/base64: make it standalone
  cmds/core/base64/base64.go
  cmds/core/base64/base64_test.go
Due: everything

golangcilint: enable forvar linter
  .golangci.yml
Due: none

cmds/core/xargs: make it standalone
  cmds/core/xargs/xargs.go
  cmds/core/xargs/xargs_test.go
Due: everything

cmds/core/cat: make it standalone
  cmds/core/cat/cat.go
  cmds/core/cat/cat_test.go
Due: everything

cmds/core/shasum: make it standalone
  cmds/core/shasum/shasum.go
  cmds/core/shasum/shasum_test.go
Due: everything

Add a README.md for pkg/core, outlining its frozen state.
  pkg/core/README.md
Due: everything

cmds/core/mktemp: make it standalone
  cmds/core/mktemp/mktemp.go
  cmds/core/mktemp/mktemp_test.go
Due: everything

cmds/core/touch: make it standalone
  cmds/core/touch/touch.go
  cmds/core/touch/touch_test.go
Due: everything

cmds/core/touch: move to unixflag
  cmds/core/touch/touch.go
  cmds/core/touch/touch_test.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
