Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

cleanup: remove pflag usage from cmd/flash
  cmds/fwtools/flash/flash_linux.go
Due: everything

cleanup: exp/tftp: remove pflag package
  cmds/exp/tftp/main.go
Due: cmds/exp

exp/tfpt: fix spelling in test
  cmds/exp/tftp/tftp_test.go
Due: cmds/exp

cleanup: remove shell-script-based tftp test
  integration/generic-tests/tftp_test.go
Due: none

Remove all references to removed Baseboard Info table
  cmds/exp/dmidecode/testdata/Asus-UX307LA.txt
  cmds/exp/dmidecode/testdata/Lenovo-ThinkPad-T480.txt
  pkg/smbios/smbios_modifier.go
  pkg/smbios/smbios_modifier_test.go
  pkg/smbios/table_type.go
  pkg/smbios/type14_group_association.go
  pkg/smbios/type14_group_association_test.go
Due: everything, cmds/exp

cleanup: pkg/grub: remove pflag
  pkg/boot/grub/grub.go
Due: everything

kmodule: insert independent modules in parallel
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
Due: everything

kmodule: export concurrent-safe module prober
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
Due: everything

fix(chmod): return `flag provided but not defined` when appropriate
  pkg/core/chmod/chmod.go
Due: everything

fix(gzip): fix inconsistency with arguments passing
  cmds/core/gzip/gzip.go
  pkg/core/gzip/gzip.go
  pkg/core/gzip/gzip_test.go
  pkg/gzip/options.go
  pkg/gzip/options_test.go
Due: everything

kmodule: add API for setting parameters of dependencies
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
Due: everything

Add "\r" to some messages
  pkg/boot/menu/menu.go
Due: everything

Update menu.go
  pkg/boot/menu/menu.go
Due: everything

Revert "Update menu.go"
  pkg/boot/menu/menu.go
Due: everything

Revert "Add "\r" to some messages"
  pkg/boot/menu/menu.go
Due: everything

pkg/boot/universalpayload: Skip system memory in handoff blocks.
  pkg/boot/universalpayload/handoffblock.go
  pkg/boot/universalpayload/universalpayload_test.go
Due: everything

configs/README: reference minimum Go requirements
  configs/README.md
Due: none

README: add note on minimum requirements for Linux
  README.md
Due: none

configs/arm: add CONFIG_COMPAT_32BIT_TIME
  configs/arm_config.txt
Due: none

chore: remove empty test file
  cmds/core/gzip/gzip_test.go
Due: everything

feat: add `gzcat` binary and call `pkg/core/gzip` under the hood
  cmds/core/gzcat/gzcat.go
  pkg/core/gzip/gzip.go
Due: everything

ci: add `gzcat`
  tools/tinygo-buildstatus/statusquo.go
Due: none

core/ps: when using /proc/<pid>/cmdline, replace null by space
  cmds/core/ps/ps_linux.go
Due: everything

update to ulikunits/xz 5.15
  go.mod
  go.sum
  vendor/github.com/ulikunitz/xz/README.md
  vendor/github.com/ulikunitz/xz/SECURITY.md
  vendor/github.com/ulikunitz/xz/TODO.md
  vendor/github.com/ulikunitz/xz/lzma/header.go
  vendor/github.com/ulikunitz/xz/lzma/reader.go
  vendor/github.com/ulikunitz/xz/lzma/writer.go
  vendor/modules.txt
Due: none

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
