Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

Fix local DoS via out-of-bounds panic in ReadHssFromFile
  pkg/hsskey/filereader.go
  pkg/hsskey/filereader_test.go
Due: everything

fix: pin container version to satisfy CI
  .circleci/images/kernel-amd64/Dockerfile
  .circleci/images/kernel-arm/Dockerfile
  .circleci/images/kernel-arm64/Dockerfile
  .circleci/images/upl-fit-amd64/Dockerfile
  .circleci/images/upl-fit-arm64/Dockerfile
Due: none

cmds/core/shasum: remove globals, more algorithms
  cmds/core/shasum/shasum.go
  cmds/core/shasum/shasum_test.go
Due: everything

fix: pin container version to satisfy CI
  .circleci/images/uefipayload-amd64/Dockerfile
Due: none

chore: update status quo list for tinygo
  tools/tinygo-buildstatus/statusquo.go
Due: none

chore: bump and pin github action versions
  .github/workflows/cifuzz.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/homepage.yml
  .github/workflows/test-images.yml
  .github/workflows/tests.yml
  .github/workflows/tinygo.yml
Due: none

cmds/exp/serial: remove dead code
  cmds/exp/serial/serial.go
Due: cmds/exp

fbpt: reject undersized record lengths before subtraction
  pkg/acpi/fpdt/fbpt/fbpt.go
  pkg/acpi/fpdt/fbpt/fbpt_test.go
Due: everything

cmds/core/gosh: update gosh and rewrite kill to avoid kill: unsupported builtin
  cmds/core/gosh/gosh.go
  go.mod
  go.sum
  vendor/modules.txt
  vendor/mvdan.cc/sh/v3/expand/arith.go
  vendor/mvdan.cc/sh/v3/expand/environ.go
  vendor/mvdan.cc/sh/v3/expand/expand.go
  vendor/mvdan.cc/sh/v3/expand/param.go
  vendor/mvdan.cc/sh/v3/expand/valuekind_string.go
  vendor/mvdan.cc/sh/v3/fileutil/file.go
  vendor/mvdan.cc/sh/v3/internal/pattern.go
  vendor/mvdan.cc/sh/v3/internal/testing.go
  vendor/mvdan.cc/sh/v3/interp/api.go
  vendor/mvdan.cc/sh/v3/interp/builtin.go
  vendor/mvdan.cc/sh/v3/interp/handler.go
  vendor/mvdan.cc/sh/v3/interp/os_notunix.go
  vendor/mvdan.cc/sh/v3/interp/runner.go
  vendor/mvdan.cc/sh/v3/interp/test.go
  vendor/mvdan.cc/sh/v3/interp/test_classic.go
  vendor/mvdan.cc/sh/v3/interp/trace.go
  vendor/mvdan.cc/sh/v3/interp/vars.go
  vendor/mvdan.cc/sh/v3/pattern/pattern.go
  vendor/mvdan.cc/sh/v3/shell/expand.go
  vendor/mvdan.cc/sh/v3/syntax/braces.go
  vendor/mvdan.cc/sh/v3/syntax/lexer.go
  vendor/mvdan.cc/sh/v3/syntax/nodes.go
  vendor/mvdan.cc/sh/v3/syntax/parser.go
  vendor/mvdan.cc/sh/v3/syntax/parser_arithm.go
  vendor/mvdan.cc/sh/v3/syntax/printer.go
  vendor/mvdan.cc/sh/v3/syntax/quote.go
  vendor/mvdan.cc/sh/v3/syntax/quotestate_string.go
  vendor/mvdan.cc/sh/v3/syntax/simplify.go
  vendor/mvdan.cc/sh/v3/syntax/token_string.go
  vendor/mvdan.cc/sh/v3/syntax/tokens.go
  vendor/mvdan.cc/sh/v3/syntax/walk.go
Due: everything

vendor: update mkuimage to v0.1.0
  go.mod
  go.sum
  vendor/github.com/u-root/mkuimage/uimage/mkuimage/cmd.go
  vendor/modules.txt
Due: none

cpio: contain extraction within root with os.Root
  pkg/cpio/fs_unix.go
  pkg/cpio/fs_unix_test.go
Due: everything

cmds/core/ls: fix docstring
  cmds/core/ls/ls.go
Due: everything

ufs: switch to using p9/localfs
  cmds/.gitignore
  cmds/core/ufs/ufs.go
  go.mod
  go.sum
  pkg/ssh9p/ssh9p_test.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/localfs.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/readdir.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/system_unix.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/system_windows.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/system_xattr.go
  vendor/modules.txt
Due: everything

ufs: switch to using p9/localfs
  cmds/core/ufs/ufs.go
  go.mod
  go.sum
  pkg/ssh9p/ssh9p_test.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/localfs.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/readdir.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/system_unix.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/system_windows.go
  vendor/github.com/hugelgupf/p9/fsimpl/localfs/system_xattr.go
  vendor/modules.txt
Due: everything

vendor: update mkuimage
  go.mod
  go.sum
  vendor/github.com/u-root/mkuimage/cpio/cpio.go
  vendor/github.com/u-root/mkuimage/cpio/fs_unix.go
  vendor/github.com/u-root/mkuimage/cpio/internal/upath/safejoin.go
  vendor/github.com/u-root/mkuimage/cpio/mknod_unix.go
  vendor/github.com/u-root/mkuimage/cpio/newc.go
  vendor/github.com/u-root/mkuimage/cpio/utils.go
  vendor/github.com/u-root/mkuimage/ldd/ldd.go
  vendor/github.com/u-root/mkuimage/ldd/ldd_other.go
  vendor/github.com/u-root/mkuimage/ldd/ldd_unix.go
  vendor/github.com/u-root/mkuimage/uimage/initramfs/files.go
  vendor/github.com/u-root/mkuimage/uimage/mkuimage/cmd.go
  vendor/github.com/u-root/mkuimage/uimage/mkuimage/uflags.go
  vendor/github.com/u-root/mkuimage/uimage/uimage.go
  vendor/modules.txt
Due: none

pkg/boot/localboot: use modern and stable sort for OSImages
  pkg/boot/localboot/localboot.go
Due: everything

cmds/core/find: add -regex flag support
  cmds/core/find/find.go
  cmds/core/find/find_test.go
Due: everything

pkg/boot/universalpayload: refactor to eliminate global variables
  pkg/boot/universalpayload/handoffblock.go
  pkg/boot/universalpayload/trampoline_amd64.s
  pkg/boot/universalpayload/trampoline_arm64.s
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/boot/universalpayload/utilities_arch_amd64_test.go
  pkg/boot/universalpayload/utilities_arch_amd64_tinygo.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
  pkg/boot/universalpayload/utilities_arch_arm64_tinygo.go
  pkg/boot/universalpayload/utilities_test.go
  pkg/boot/universalpayload/utilities_unimplemented.go
Due: everything

pkg/boot/universalpayload: reset componentsSize in loadKexecMemWithHOBs
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
Due: everything

pkg/boot/universalpayload: simplify and secure FDT generation
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_test.go
Due: everything

pkg/boot/universalpayload: improve robustness of sysfs parsing
  pkg/boot/universalpayload/utilities.go
Due: everything

pkg/boot/universalpayload: fix typo in ARM64 TinyGo trampoline
  pkg/boot/universalpayload/utilities_arch_arm64_tinygo.go
Due: everything

pkg/boot/universalpayload: fix out-of-bounds panics in PE and FIT parsing
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_test.go
Due: everything

pkg/boot/universalpayload: prevent integer underflow in trampoline construction
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

feat: enable multi-reader support
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/root_linux.go
Due: everything

fix: clean up libinit code
  pkg/libinit/proc_linux.go
Due: everything

fix: properly multiplex TTY I/O through PTY with raw mode
  pkg/libinit/proc_linux.go
Due: everything

libinit: do not use multiwriter with single tty
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
Due: everything

multi-console: move code into correct packages
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
  pkg/pty/pty_linux.go
  pkg/termios/termios_linux.go
Due: everything

mount: add EROFS magic values
  pkg/mount/magic.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
