Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

tinygo: fix pkg/kmodule/compression{,_tinygo}.go build tags Signed-off-by: Roger Standridge <9526806+archie2x@users.noreply.github.com>
  pkg/kmodule/compression.go
  pkg/kmodule/compression_tinygo.go
Due: everything

cmds/core/msr: fix bug, comments, tips
  cmds/core/msr/doc_linux.go
  cmds/core/msr/msr_linux.go
  pkg/forth/forth.go
  pkg/forth/forth_test.go
Due: everything

cmds/core/du: rewrite to unixflag
  cmds/core/du/du.go
  cmds/core/du/du_test.go
Due: everything

cmds/core/msr: refactor existing implementation to use newer run-function style
  cmds/core/msr/msr_linux.go
Due: everything

update modules
  cmds/core/switch_root/switch_root_linux.go
  cmds/exp/vboot/vboot.go
  go.mod
  go.sum
Due: everything, cmds/exp

Update kernel images to latest build. Allows for testing of traffic shaping capabilities.
  .vmtest.yaml
Due: none

Add coverage tests for cmds/exp/tc
  cmds/exp/tc/main.go
  cmds/exp/tc/tc_test.go
  pkg/tc/qdisc.go
  pkg/tc/tc.go
Due: everything, cmds/exp

Fixes and Improvements
  cmds/exp/tc/main.go
  pkg/tc/action.go
  pkg/tc/action_test.go
  pkg/tc/class.go
  pkg/tc/class_test.go
  pkg/tc/classes.go
  pkg/tc/filter.go
  pkg/tc/filter_test.go
  pkg/tc/filter_types.go
  pkg/tc/qdisc.go
  pkg/tc/qdisc_test.go
  pkg/tc/qdiscs.go
  pkg/tc/util.go
Due: everything, cmds/exp

Increase timeout time of smbios integration test. Probably new kernel images lead to longer runtime of tests.
  pkg/smbios/vm_test.go
Due: everything

Add exp/tc filter functionalities: * Show/List * Add * Delete * Change * Replace * Help
  cmds/exp/tc/main.go
  pkg/tc/action.go
  pkg/tc/action_test.go
  pkg/tc/filter.go
  pkg/tc/filter_test.go
  pkg/tc/filter_types.go
  pkg/tc/util.go
Due: everything, cmds/exp

Add HFSC qdisc args parsing for tc qdisc and tc classj
  pkg/tc/classes.go
  pkg/tc/qdisc.go
  pkg/tc/qdiscs.go
Due: everything

more integration testing
  pkg/tc/filter.go
  pkg/tc/tc_integration_test.go
Due: everything

Add exp/tc class functionalities: * Show/List * Add * Delete * Replace * Change * Help
  cmds/exp/tc/main.go
  pkg/tc/class.go
  pkg/tc/class_test.go
  pkg/tc/classes.go
  pkg/tc/util_test.go
Due: everything, cmds/exp

Add test for ParseProto and GetProtoFromInfo
  pkg/tc/filter.go
  pkg/tc/util.go
  pkg/tc/util_test.go
Due: everything

Add integration test for tc qdisc
  pkg/tc/tc_integration_test.go
Due: everything

cleanup as fixup
  pkg/tc/qdisc.go
Due: everything

Add readme.md to pkg/tc to keep track of status of implementation.
  pkg/tc/readme.md
Due: everything

Add comments to public functions.
  pkg/tc/class.go
  pkg/tc/classes.go
  pkg/tc/filter.go
  pkg/tc/filter_types.go
  pkg/tc/qdisc.go
  pkg/tc/qdiscs.go
  pkg/tc/util.go
Due: everything

cmds/core/du: fix for relative links
  cmds/core/du/du.go
  cmds/core/du/du_test.go
  cmds/core/du/testdata/rel-symlinks/f1.txt
  cmds/core/du/testdata/rel-symlinks/f2.txt
  cmds/core/du/testdata/rel-symlinks/links/s1.txt
  cmds/core/du/testdata/rel-symlinks/links/s2.txt
Due: everything

deploy: 244fa29932983deb86fda71c3a57854e25935d86
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

fix executeGet: Some tftp-servers do not support file size transmission. Adapted function for infinite read until EOF, then write file to disc.
  pkg/tftp/client.go
  pkg/tftp/tftp.go
Due: everything

fix executeGet: Some tftp-servers do not support file size transmission. Adapted function for infinite read until EOF, then write file to disc.
  pkg/tftp/client.go
  pkg/tftp/tftp.go
  pkg/tftp/tftp_test.go
Due: everything

Move Mock interface to test file
  pkg/tftp/client.go
  pkg/tftp/tftp_test.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
