Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

cmds/core/ip: -4/-6 flags
  cmds/core/ip/ops_linux.go
  cmds/core/ip/tunnel_linux.go
Due: everything

cmds/core/ip: batch mode
  cmds/core/ip/ip_linux.go
Due: everything

monitor functionalities
  cmds/core/ip/ip_linux.go
  cmds/core/ip/monitor_linux.go
Due: everything

cmds/core/ip: add tuntap subcommand
  cmds/core/ip/ip_linux.go
  cmds/core/ip/tuntap_linux.go
Due: everything

cmds/core/ip: fix parsing error msg display
  cmds/core/ip/address_linux.go
  cmds/core/ip/ip_linux.go
  cmds/core/ip/link_linux.go
  cmds/core/ip/monitor_linux.go
  cmds/core/ip/neigh_linux.go
  cmds/core/ip/ops_linux.go
  cmds/core/ip/parsing_linux.go
  cmds/core/ip/route_linux.go
  cmds/core/ip/tcp_metrics_linux.go
  cmds/core/ip/tunnel_linux.go
  cmds/core/ip/tuntap_linux.go
  cmds/core/ip/vrf_linux.go
  cmds/core/ip/xfrm_policy_linux.go
  cmds/core/ip/xfrm_state_linux.go
Due: everything

Implementing reviews
  cmds/exp/traceroute/main.go
  cmds/exp/traceroute/traceroute_test.go
  pkg/traceroute/icmp4.go
  pkg/traceroute/icmp6.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/traceroute_test.go
  pkg/traceroute/udp4.go
  pkg/traceroute/udp6.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

cmds/core/ip: fix flag parsing
  cmds/core/ip/ip_linux.go
  cmds/core/ip/ip_linux_test.go
Due: everything

cmds/core/ip: improve coverage
  cmds/core/ip/ip_linux.go
  cmds/core/ip/ip_linux_test.go
  cmds/core/ip/neigh_linux.go
  cmds/core/ip/neigh_linux_test.go
  cmds/core/ip/tuntap_linux.go
  cmds/core/ip/tuntap_linux_test.go
Due: everything

pkg/boot/grub: add support for grub devicetree command
  pkg/boot/boottest/json.go
  pkg/boot/grub/grub.go
  pkg/boot/grub/testdata_new/ubuntu_16_04_boot.json
  pkg/boot/grub/testdata_new/ubuntu_16_04_boot/grub/grub.cfg
Due: everything

cmds/exp: extend CBMEM
  cmds/exp/cbmem/const.go
  cmds/exp/cbmem/main_linux.go
  cmds/exp/cbmem/types.go
Due: cmds/exp

bump golangcilint version
  .github/workflows/golangci-lint.yml
Due: none

cmds/core/realpath: add realpath command
  cmds/core/realpath/realpath.go
  cmds/core/realpath/realpath_test.go
Due: everything

tinygo: enable kmodule {insmod,rmmod,modprobe}, add test for comptressionReader
  pkg/kmodule/compression.go
  pkg/kmodule/compression_tinygo.go
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
Due: everything

Add exp/tc qdisc functionalities: * Show/List * Add * Delete * Replace * Change * Link * Help
  cmds/exp/tc/main.go
  pkg/tc/qdisc.go
  pkg/tc/qdisc_test.go
  pkg/tc/tc.go
  pkg/tc/util.go
Due: everything, cmds/exp

Add exp/tc class functionalities: * Show/List * Add * Delete * Replace * Change * Help
  cmds/exp/tc/main.go
  pkg/tc/class.go
  pkg/tc/class_test.go
Due: everything, cmds/exp

Add exp/tc filter functionalities: * Show/List * Add * Delete * Change * Replace * Help
  cmds/exp/tc/main.go
  pkg/tc/action.go
  pkg/tc/filter.go
  pkg/tc/filter_test.go
  pkg/tc/filter_types.go
Due: everything, cmds/exp

cmds/exp/tcpdump: add tcp prints & {number,count,numerical,list-devices} options
  cmds/exp/tcpdump/main.go
Due: cmds/exp

cmds/exp/tcpdump: add icmp prints and filter
  cmds/exp/tcpdump/domain.go
  cmds/exp/tcpdump/icmp.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/tcp.go
  cmds/exp/tcpdump/util.go
Due: cmds/exp

cmds/exp/tcpdump: add timestamp {t, tt, ttt, tttt, ttttt, nano}, e, x, xx, A, F, verbose, quiet flags
  cmds/exp/tcpdump/domain.go
  cmds/exp/tcpdump/ethernet.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/tcp.go
  cmds/exp/tcpdump/util.go
Due: cmds/exp

cmds/exp/tcpdump: add tests
  cmds/exp/tcpdump/domain_test.go
  cmds/exp/tcpdump/ethernet.go
  cmds/exp/tcpdump/ethernet_test.go
  cmds/exp/tcpdump/filter.txt
  cmds/exp/tcpdump/icmp_test.go
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/main_test.go
  cmds/exp/tcpdump/tcp.go
  cmds/exp/tcpdump/tcp_test.go
  cmds/exp/tcpdump/util.go
  cmds/exp/tcpdump/util_test.go
Due: cmds/exp

More cleanups
  cmds/exp/traceroute/main.go
  pkg/traceroute/flags.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
Due: everything, cmds/exp

Add TCP tracing
  cmds/exp/traceroute/main.go
  pkg/traceroute/defaults.go
  pkg/traceroute/header.go
  pkg/traceroute/module.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp4.go
Due: everything, cmds/exp

Add ipv6 icmp tracing
  pkg/traceroute/icmp4.go
  pkg/traceroute/icmp6.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/util.go
Due: everything

Add ipv6 upd tracing
  cmds/exp/traceroute/main.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp6.go
Due: everything, cmds/exp

Some coverage tests and adaptions for it
  cmds/exp/traceroute/main.go
  cmds/exp/traceroute/traceroute_test.go
  pkg/traceroute/flags.go
  pkg/traceroute/header.go
  pkg/traceroute/icmp4.go
  pkg/traceroute/icmp6.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/traceroute_test.go
  pkg/traceroute/udp4.go
  pkg/traceroute/udp6.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

Unify IP address handling across IPv4 route tracing
  cmds/exp/traceroute/main.go
  pkg/traceroute/icmp.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp4.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

Simplify NewTrace function
  pkg/traceroute/trace.go
Due: everything

Remove "collection.go"
  pkg/traceroute/collection.go
Due: everything

Add exp/traceroute - Start of Work
  cmds/exp/traceroute/main.go
  pkg/traceroute/collection.go
  pkg/traceroute/defaults.go
  pkg/traceroute/flags.go
  pkg/traceroute/header.go
  pkg/traceroute/module.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/udp4.go
  pkg/traceroute/util.go
Due: everything, cmds/exp

Add ipv6 tcp tracing
  pkg/traceroute/header.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/tcp6.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
Due: everything

Rename Packet functions
  pkg/traceroute/icmp.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/udp4.go
Due: everything

Add icmp tracing
  pkg/traceroute/defaults.go
  pkg/traceroute/header.go
  pkg/traceroute/icmp.go
  pkg/traceroute/tcp4.go
  pkg/traceroute/trace.go
  pkg/traceroute/traceroute.go
  pkg/traceroute/util.go
Due: everything

Made ./cmds/core/printf more idiomatic
  cmds/core/printf/printf.go
Due: everything

Made printf.go be easier to read and removed linter warnings
  cmds/core/printf/printf.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
