Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

cmds/core/xargs: add null to use null byte as delimiter
  cmds/core/xargs/xargs.go
  cmds/core/xargs/xargs_test.go
Due: everything

Seccomp Tracing
  pkg/strace/tracer.go
Due: everything

cmds/exp/tcpdump: add missing nil check
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/main_test.go
Due: cmds/exp

securelaunch: Only look for the policy file based on 'securelaunch_policy' flag
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/policy/policy.go
Due: everything

securelaunch: Add function to read a file, other clean ups
  pkg/securelaunch/helpers.go
  pkg/securelaunch/helpers_test.go
  pkg/securelaunch/vm_test.go
Due: everything

pkg/securelaunch,cmds/core/sluinit: tidy up for review
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/helpers.go
  pkg/securelaunch/launcher/launcher.go
Due: everything

securelaunch: Read the hash of the public key from the TPM and verify it
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/policy/policy.go
  pkg/securelaunch/tpm/tpm.go
  pkg/securelaunch/tpm/tpm_test.go
Due: everything

securelaunch: Use config options to determine if certain steps should be done
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/tpm/tpm.go
Due: everything

securelaunch: Use "boot entires"; load and hash kernel/initrd
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/helpers.go
  pkg/securelaunch/launcher/launcher.go
  pkg/securelaunch/launcher/launcher_test.go
  pkg/securelaunch/launcher/vm_test.go
  pkg/securelaunch/vm_test.go
Due: everything

securelaunch: Refactor policy code
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/policy/policy.go
  pkg/securelaunch/policy/vm_test.go
Due: everything

securelaunch: Use a public key and signature to verify the policy file
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/policy/policy.go
  pkg/securelaunch/policy/vm_test.go
Due: everything

securelaunch: Dump out all PCR values at boot
  cmds/core/sluinit/uinit_linux.go
  pkg/securelaunch/tpm/tpm.go
Due: everything

securelaunch: Add config section to policy file; use defaults if not specified
  pkg/securelaunch/config/config.go
  pkg/securelaunch/measurement/collectors.go
  pkg/securelaunch/policy/policy.go
Due: everything

cmds/exp/tcpdump: add flag description to output of -h flag
  cmds/exp/tcpdump/main.go
  cmds/exp/tcpdump/main_test.go
Due: cmds/exp

pkg/securelaunch: remove broken vm tests
  pkg/securelaunch/launcher/vm_test.go
  pkg/securelaunch/policy/vm_test.go
Due: everything

pkg/securlaunch: temporarily skip broken tests
  pkg/securelaunch/vm_test.go
Due: everything

CI tool so people can easily run the ci that is run at github
  tools/ci/generated.go
  tools/ci/main.go
Due: none

Add more cases from CI
  tools/ci/main.go
Due: none

add multiarch. We will need to fix the template stuff.
  tools/ci/main.go
Due: none

Do not use s.Run in multiarch build, it uses templates
  cmds/core/date/date.go
  tools/ci/main.go
Due: everything

Update for os.ReadFile
  pkg/securelaunch/helpers.go
Due: everything

Return measurement.HashBytes(fileBytes, eventDesc) result directly in function
  pkg/securelaunch/launcher/launcher.go
Due: everything

cmds/core/ip: make dev param optional in ip link show
  cmds/core/ip/link_linux.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
