Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

Enable Github status reporting for each component
  codecov.yml
Due: none

remove redundant type in variable declaration
  .golangci.yml
  cmds/boot/boot/boot.go
  cmds/exp/systemboot/main.go
  pkg/boot/systembooter/bootbooter.go
  pkg/boot/systembooter/localbooter.go
  pkg/boot/systembooter/netbooter.go
  pkg/boot/systembooter/pxebooter.go
Due: everything, cmds/exp

Add MarshalBinary in Table
  pkg/smbios/table.go
  pkg/smbios/table_test.go
Due: everything

Adding Modifier for smbios pkg
  pkg/smbios/entry32.go
  pkg/smbios/entry64.go
  pkg/smbios/header.go
  pkg/smbios/info.go
  pkg/smbios/info64_test.go
  pkg/smbios/smbios_modifier.go
  pkg/smbios/smbios_modifier_test.go
  pkg/smbios/type0_bios_information_test.go
  pkg/smbios/type127_end_of_table_test.go
  pkg/smbios/type1_system_information.go
  pkg/smbios/type1_system_information_test.go
Due: everything

pkg/ipmi: Wrap CompletionCode in CompletionError
  pkg/ipmi/dev.go
  pkg/ipmi/structures.go
Due: everything

pkg/ipmi: Interpret IPMI command error codes
  pkg/ipmi/constants.go
  pkg/ipmi/dev.go
  pkg/ipmi/structures.go
Due: everything

cmds/exp/ed: rename append to offset
  cmds/exp/ed/commands.go
Due: cmds/exp

Update pci-ids and embed it
  pkg/pci/devices_test.go
  pkg/pci/ids.go
  pkg/pci/lookup_test.go
  pkg/pci/parse.go
  pkg/pci/pci.ids
Due: everything

pkg/impi: rename len to length
  pkg/ipmi/ipmi.go
Due: everything

Refactor BaseboardInfo Type2 Table
  pkg/smbios/type1_system_information_test.go
  pkg/smbios/type2_baseboard_information.go
  pkg/smbios/type2_baseboard_information_test.go
Due: everything

Refactor Info.Marshal
  pkg/smbios/entry_test.go
  pkg/smbios/info.go
  pkg/smbios/info64_test.go
  pkg/smbios/smbios_modifier.go
  pkg/smbios/smbios_modifier_test.go
Due: everything

tools/vpdbootmanager: rename delete to remove
  tools/vpdbootmanager/add.go
  tools/vpdbootmanager/main.go
Due: none

pkg/namespace, cmds/exp/lsfabric: rename builtins
  .golangci.yml
  cmds/exp/lsfabric/lsfabric.go
  pkg/namespace/cmd.go
  pkg/namespace/parser_test.go
Due: everything, cmds/exp

pkg/namespace: style changes
  pkg/namespace/cmd.go
Due: everything

pkg/namespace: basename first argument
  pkg/namespace/parser.go
  pkg/namespace/parser_test.go
Due: everything

pkg/ipmi: Add Boot Time Measurement Commands
  pkg/ipmi/constants.go
Due: everything

cmds/core/touch: cleanup error handling with errors.Join
  cmds/core/touch/access_linux_test.go
  cmds/core/touch/touch.go
  cmds/core/touch/touch_test.go
Due: everything

Fix: 55 typos
  RELEASES
  pkg/boot/image/image.go
  pkg/boot/zimage/zimage.go
  pkg/boot/zimage/zimage_test.go
  pkg/memio/uintn.go
  pkg/securelaunch/tpm/tpm.go
  pkg/txtlog/pcr_event.go
Due: everything

cmds/core/wget: handle "-" as stdout
  cmds/core/wget/wget.go
  cmds/core/wget/wget_test.go
Due: everything

fix format with gofmt tool
  pkg/boot/image/image.go
  pkg/boot/zimage/zimage.go
  pkg/boot/zimage/zimage_test.go
Due: everything

cmds/core/kill: use errors.Join instead of []error
  cmds/core/kill/kill_test.go
  cmds/core/kill/signaler_unix.go
Due: everything

cmds/core/sshd: test for connect and exec
  cmds/core/sshd/sshd.go
  cmds/core/sshd/sshd_test.go
  cmds/core/sshd/testdata/id_rsa
  cmds/core/sshd/testdata/id_rsa.pub
Due: everything

cmds/core/sshd: tests for errros on server start
  cmds/core/sshd/sshd_test.go
Due: everything

cmds/core/sshd: add flags defualt test
  cmds/core/sshd/sshd_test.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
