Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

boot/fitboot: make it clear it is linux-only
  cmds/boot/fitboot/main_linux.go
Due: everything

boot/pxeboot: make it clear it is linux only
  cmds/boot/pxeboot/pxeboot_linux.go
Due: everything

pkg/libinit: add proc_freebsd.go
  pkg/libinit/proc_freebsd.go
Due: everything

pkg/mount: add freebsd support for Mount, using nmount
  pkg/mount/mount_freebsd.go
Due: everything

tinygo: tinygo cannot build regular go assembly files, but can build CGO. Re-implement a minimal version of the cpuid features required by u-root cmdlets.
  pkg/cpuid/cpuid_linux_amd64.go
  pkg/cpuid/cpuid_tinygo_linux_amd64.go
  pkg/msr/msr_linux.go
Due: everything

build: only build msr assembly on x86_64
  pkg/cpuid/cpuid_linux_amd64_386.go
Due: everything

cpuid: update buildtags to build on x86_32 and x86_64
  pkg/cpuid/cpuid_tinygo.go
Due: everything

build: only build msr assembly on x86_64
  cmds/core/lockmsrs/lockmsrs_linux_amd64.go
  cmds/core/msr/doc_linux_amd64.go
  cmds/core/msr/msr_linux_amd64.go
  pkg/msr/msr_linux_amd64.go
  pkg/msr/msr_linux_amd64_test.go
Due: everything

ci: remove go1.21.x versions from matrix runner
  .github/workflows/tests.yml
Due: none

ci: disable static check for dt
  cmds/exp/fdtdump/fdtdump.go
  pkg/dt/print.go
Due: everything, cmds/exp

modules: udpdate go-tpm to incorporate tingygo issues
  go.mod
  go.sum
  vendor/github.com/google/go-tpm/legacy/tpm2/tpm2.go
  vendor/github.com/google/go-tpm/tpm2/constants.go
  vendor/github.com/google/go-tpm/tpm2/crypto.go
  vendor/github.com/google/go-tpm/tpm2/reflect.go
  vendor/github.com/google/go-tpm/tpm2/sessions.go
  vendor/github.com/google/go-tpm/tpm2/structures.go
  vendor/github.com/google/go-tpm/tpm2/tpm2.go
  vendor/github.com/google/go-tpm/tpm2/transport/open_other.go
  vendor/github.com/google/go-tpm/tpm2/transport/open_windows.go
  vendor/github.com/google/go-tpm/tpm2/transport/tpm.go
  vendor/modules.txt
Due: none

ci: update golang-cilint version
  .github/workflows/golangci-lint.yml
Due: none

ci: enfoce new go1.22.x static checks
  cmds/core/shutdown/shutdown_linux.go
  cmds/exp/pflask/pflask.go
  pkg/ipmi/ipmi.go
Due: everything, cmds/exp

ipmi: refactoring
  pkg/ipmi/ipmi.go
Due: everything

cmds/core/du: fix for relative links
  cmds/core/du/du.go
  cmds/core/du/du_test.go
  cmds/core/du/testdata/rel-symlinks/f1.txt
  cmds/core/du/testdata/rel-symlinks/f2.txt
  cmds/core/du/testdata/rel-symlinks/links/s1.txt
  cmds/core/du/testdata/rel-symlinks/links/s2.txt
Due: everything

golangci: increase timeout
  .github/workflows/golangci-lint.yml
Due: none

cpuid: use u-root fork
  cmds/core/sluinit/uinit_linux.go
  go.mod
  go.sum
  pkg/msr/msr_linux_amd64.go
  pkg/securelaunch/measurement/cpuid.go
  vendor/github.com/u-root/cpuid/.gitignore
  vendor/github.com/u-root/cpuid/LICENSE
  vendor/github.com/u-root/cpuid/README.md
  vendor/github.com/u-root/cpuid/cpuid.go
  vendor/github.com/u-root/cpuid/cpuid_amd64.go
  vendor/github.com/u-root/cpuid/cpuid_amd64_tinygo.go
  vendor/github.com/u-root/cpuid/cpuidlow_amd64.s
  vendor/modules.txt
Due: everything

cpuid: replace unmaintained intel-go/cpuid with fork
  cmds/core/sluinit/uinit_linux.go
  go.mod
  go.sum
  pkg/cpuid/cpuid_linux_amd64.go
  pkg/cpuid/cpuid_tinygo.go
  pkg/msr/msr.go
  pkg/msr/msr_linux_amd64.go
  pkg/securelaunch/measurement/cpuid.go
  vendor/github.com/leongross/intel-go-cpuid/.gitignore
  vendor/github.com/leongross/intel-go-cpuid/LICENSE
  vendor/github.com/leongross/intel-go-cpuid/README.md
  vendor/github.com/leongross/intel-go-cpuid/cpuid.go
  vendor/github.com/leongross/intel-go-cpuid/cpuid_amd64.go
  vendor/github.com/leongross/intel-go-cpuid/cpuid_amd64_tinygo.go
  vendor/github.com/leongross/intel-go-cpuid/cpuidlow_amd64.s
  vendor/modules.txt
Due: everything

ci: golangci-linter add unused
  .golangci.yml
Due: none

ci/lint: fix linter issues caused by unparam
  cmds/core/du/du.go
  cmds/core/du/du_test.go
  cmds/core/fusermount/fusermount.go
  cmds/core/gpgv/gpgv.go
  cmds/core/gpgv/gpgv_test.go
  cmds/core/ip/ops_linux.go
  cmds/core/ip/ops_linux_test.go
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
  cmds/core/ls/ls.go
  cmds/core/netcat/listen_test.go
  cmds/core/netcat/netcat.go
  cmds/core/netcat/netcat_test.go
  cmds/core/scp/scp.go
  cmds/core/shasum/shasum.go
  cmds/core/sluinit/uinit_linux.go
  cmds/core/wc/wc.go
  cmds/exp/cbmem/gen/gen.go
  cmds/exp/rush/cmd_test.go
  cmds/exp/rush/parse.go
  cmds/exp/rush/parse_test.go
  cmds/exp/rush/rush.go
  cmds/exp/tcz/tcz.go
  pkg/boot/bzimage/kver_test.go
  pkg/boot/ebda/ebda_test.go
  pkg/boot/linux/load_linux_image_test.go
  pkg/boot/menu/menu_test.go
  pkg/boot/multiboot/internal/trampoline/trampoline_linux_amd64.go
  pkg/brctl/util.go
  pkg/cmos/cmos_test.go
  pkg/flash/spimock/spimock_linux.go
  pkg/memio/ports_linux_test.go
  pkg/mount/scuzz/ata.go
  pkg/namespace/cmd.go
  pkg/namespace/namespace.go
  pkg/netstat/format.go
  pkg/securelaunch/measurement/dmi.go
  pkg/smbios/smbios_modifier_test.go
  pkg/strace/tracer_test.go
  pkg/syscallfilter/syscallfilter_linux.go
Due: everything, cmds/exp

ci: update golangci-linter
  .golangci.yml
Due: none

cmds/core/brctl: this is linux only
  cmds/core/brctl/brctl_linux.go
  cmds/core/brctl/brctl_linux_test.go
Due: everything

freebsd: mount
  cmds/core/mount/mount.go
Due: everything

freebsd: mknod
  cmds/core/mknod/mknod_freebsd.go
Due: everything

cmds/core/dhclient: disable it for freebsd until the dhcp package is fixed
  cmds/core/dhclient/dhclient.go
Due: everything
