Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

pkg/netcat: fix IPv6 address formatting for connect mode (portscan on)
  pkg/netcat/config.go
  pkg/netcat/config_test.go
Due: everything

pkg/netcat: fix Connect/Listen typos in config unit test
  pkg/netcat/config_test.go
Due: everything

pkg/netcat: rename some connect mode test cases in config unit test
  pkg/netcat/config_test.go
Due: everything

pkg/netcat: fix IPv6 address formatting for connect mode (portscan off)
  pkg/netcat/config.go
  pkg/netcat/config_test.go
Due: everything

pkg/netcat: refactor listen mode test cases in config unit test
  pkg/netcat/config_test.go
Due: everything

pkg/netcat: fix address formatting for listening unix domain sockets
  pkg/netcat/config.go
  pkg/netcat/config_test.go
Due: everything

pkg/netcat: fix IPv6 address formatting for listen mode
  pkg/netcat/config.go
  pkg/netcat/config_test.go
  pkg/netcat/const.go
Due: everything

README.md: advise GOAMD64=v1 for GOARCH=amd64
  README.md
Due: none

integration/generic-tests: add netstat_test
  integration/generic-tests/netstat_test.go
Due: none

chore: typo
  .github/workflows/go.yml
Due: none

ci: update tinygo version
  .github/workflows/tinygo.yml
Due: none

ci: add tinygo test runner
  .github/workflows/tinygo.yml
Due: none

cmds/core/netstat: adapt help text to implemented flags
  cmds/core/netstat/netstat_linux.go
Due: everything

cmds/core/netstat: allow alternative setting of address family
  cmds/core/netstat/netstat_linux.go
  cmds/core/netstat/netstat_test.go
Due: everything

pkg/netstat: fix format of PrintMulticastGroups()
  pkg/netstat/group.go
Due: everything

cmds/core/netstat: for multicast groups, print IPv4 and IPv6 by default
  cmds/core/netstat/netstat_linux.go
Due: everything

integration/generic-tests/netstat_test: remove leftover line
  integration/generic-tests/netstat_test.go
Due: none

tinygo: cpuid builds
  cmds/core/netcat/netcat.go
  cmds/core/wget/wget.go
  cmds/exp/fbnetboot/main.go
  cmds/exp/netbootxyz/netbootxyz.go
  cmds/exp/pxeserver/main.go
  cmds/exp/srvfiles/srvfiles.go
  cmds/exp/tc/tc.go
  cmds/exp/tcz/tcz.go
  pkg/boot/boot.go
  pkg/curl/schemes.go
  pkg/netcat/net.go
Due: everything, cmds/exp

chore: upgrade github.com/u-root/cpuid
  go.mod
  go.sum
  vendor/github.com/u-root/cpuid/.gitignore
  vendor/github.com/u-root/cpuid/LICENSE
  vendor/github.com/u-root/cpuid/NOTICE
  vendor/github.com/u-root/cpuid/README.md
  vendor/github.com/u-root/cpuid/cpuid.go
  vendor/github.com/u-root/cpuid/cpuid_amd64.go
  vendor/github.com/u-root/cpuid/cpuid_amd64_tinygo.go
  vendor/github.com/u-root/cpuid/cpuid_amd64_tinygo_bridge.go
  vendor/modules.txt
Due: none

tinygo: experimental net update sataus quo
  tools/tinygo-buildstatus/statusquo.go
Due: none

ci: update tinygo image to experimental net fork
  .github/workflows/tinygo.yml
Due: none

pkg/boot/universalpayload: Update universalpayload test case
  pkg/boot/universalpayload/universalpayload_test.go
Due: everything

pkg/boot/universalpayload: Add trace log in debug mode
  cmds/core/kexec/kexec_linux.go
  pkg/boot/universalpayload/universalpayload.go
Due: everything

pkg/boot/universalpayload: Update universalpayload loading logic
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/boot/universalpayload/utilities_arch_amd64_tinygo.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
  pkg/boot/universalpayload/utilities_arch_arm64_tinygo.go
Due: everything

pkg/netstat: fix format of PrintMulticastGroups()
  pkg/netstat/group.go
  pkg/netstat/netstat_test.go
Due: everything

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
