Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

fix: properly multiplex TTY I/O through PTY with raw mode
  pkg/libinit/proc_linux.go
Due: everything

termios: implement rawwriter and session handling
  pkg/termios/rawwriter.go
  pkg/termios/rawwriter_test.go
  pkg/termios/session.go
  pkg/termios/session_test.go
Due: everything

feat: enable multi-reader support
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/root_linux.go
Due: everything

multi-console: move code into correct packages
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
  pkg/pty/pty_linux.go
  pkg/termios/termios_linux.go
Due: everything

fix: clean up libinit code
  pkg/libinit/proc_linux.go
Due: everything

chore: drop dependabot config
  .github/dependabot.yml
Due: none

pkg/boot/universalpayload: refactor bounds tests to table-driven tests
  pkg/boot/universalpayload/universalpayload_test.go
  pkg/boot/universalpayload/utilities_arch_amd64_test.go
  pkg/boot/universalpayload/utilities_test.go
Due: everything

fix up Slack invite link
  CONTRIBUTING.md
  website/src/_includes/partials/site-foot.html
  website/src/_includes/partials/site-head.html
  website/src/index.njk
Due: none

deploy: cc6566d05afcc98f4b666364b279e0591e4f4d47
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

pkg/tarutil: fix file descriptor leak in CreateTar
  pkg/tarutil/tar.go
  pkg/tarutil/tar_linux_test.go
Due: everything

dhclient: preserve resolv.conf entries across lease updates
  pkg/dhclient/dhclient.go
  pkg/dhclient/dhclient_test.go
Due: everything

pkg/dhclient: propagate IPv6 AddrReplace errors
  pkg/dhclient/dhcp6.go
Due: everything

pkg/boot/pez: support extracting .linux section from PE Unified Kernel Images
  pkg/boot/pez/pez.go
  pkg/boot/pez/pez_test.go
Due: everything

pez: add unit test for header compression bounds check
  pkg/boot/pez/pez_test.go
Due: everything

boot/pez: fix gofmt and unused parameter in unit tests
  pkg/boot/pez/pez_test.go
Due: everything

pkg/cpio, pkg/smbios: resolve TinyGo build and compatibility issues
  pkg/cpio/fs_tinygo.go
  pkg/cpio/fs_unix.go
  pkg/smbios/info.go
  pkg/smbios/smbios_modifier.go
Due: everything

cmds/core/ping: loop until ICMP echo reply arrives
  cmds/core/ping/ping.go
Due: everything

cmds/core/ping: bind socket to :: instead of ::1
  cmds/core/ping/ping.go
  integration/generic-tests/ping_test.go
Due: everything

cmds/core/ip: fix ip6tnl mode name
  cmds/core/ip/link_linux.go
  cmds/core/ip/tunnel_linux.go
  cmds/core/ip/tunnel_linux_test.go
Due: everything

vendor: update minimock to v3.4.7
  go.mod
  go.sum
  vendor/github.com/gojuno/minimock/v3/.gitignore
  vendor/github.com/gojuno/minimock/v3/.goreleaser.yml
  vendor/github.com/gojuno/minimock/v3/.travis.yml
  vendor/github.com/gojuno/minimock/v3/Makefile
  vendor/github.com/gojuno/minimock/v3/README.md
  vendor/github.com/gojuno/minimock/v3/caller.go
  vendor/github.com/gojuno/minimock/v3/context.go
  vendor/github.com/gojuno/minimock/v3/equal.go
  vendor/github.com/gojuno/minimock/v3/internal/templates/body.tmpl
  vendor/github.com/gojuno/minimock/v3/internal/templates/header.tmpl
  vendor/github.com/gojuno/minimock/v3/mock_controller.go
  vendor/github.com/gojuno/minimock/v3/safe_tester.go
  vendor/github.com/gojuno/minimock/v3/template.go
  vendor/modules.txt
Due: none

cmds/exp/ssh: strip double IPv6 brackets
  cmds/exp/ssh/main.go
  cmds/exp/ssh/ssh_test.go
Due: cmds/exp

cmds/exp/ssh: replace raw host string manipulation
  cmds/exp/ssh/main.go
Due: cmds/exp

Remove the go report card, it is retired
  README.md
Due: none

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
