Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

cmds/extra/tsort: add benchmarking script
  cmds/extra/tsort/bench.sh
  cmds/extra/tsort/generate_graph_fixtures.go
  cmds/extra/tsort/tsort_test.go
Due: none

cmds/extra/tsort: improve performance
  cmds/extra/tsort/graph.go
  cmds/extra/tsort/graph_test.go
  cmds/extra/tsort/set.go
  cmds/extra/tsort/set_test.go
  cmds/extra/tsort/tsort.go
  cmds/extra/tsort/tsort_test.go
Due: none

Fix call to traceroute without arguments prints help.
  cmds/exp/traceroute/main.go
Due: cmds/exp

remove tinygo exclusion build tag from kmoudle compression handler
  pkg/kmodule/compression.go
Due: everything

cmds/core/free: use go-humanize for human output
  cmds/core/free/free_linux.go
  cmds/core/free/free_linux_test.go
Due: everything

cmds/core/netcat: add more testcases for evaluation of args and flags
  cmds/core/netcat/netcat_test.go
Due: everything

pkg/boot/universalpayload: Pass all memory information to UPL
  pkg/boot/universalpayload/handoffblock.go
Due: everything

pkg/boot/universalpayload: update ACPI RSDP table data fetch logic
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

pkg/boot/universalpayload: Up align region size to page size
  pkg/boot/universalpayload/handoffblock.go
Due: everything

pkg/boot/universalpayload: Update universalpayload test case
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/universalpayload_test.go
  pkg/boot/universalpayload/utilities_arch_amd64.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
  pkg/boot/universalpayload/utilities_unimplemented.go
Due: everything

pkg/boot/universalpayload: Use opcode for ARM64 trampoline code
  pkg/boot/universalpayload/trampoline_arm64.s
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

tinygobb: rework the build process
  tools/tinygobb/builder/builder.go
Due: none

builder: add unit tests
  tools/tinygobb/builder/builder.go
  tools/tinygobb/builder/builder_test.go
Due: none

universalpayload: enable build for tinygo compiler
  pkg/boot/universalpayload/trampoline_tinygo_amd64.h
  pkg/boot/universalpayload/trampoline_tinygo_arm64.h
  pkg/boot/universalpayload/utilities_arch_amd64_test.go
  pkg/boot/universalpayload/utilities_arch_amd64_tinygo.go
  pkg/boot/universalpayload/utilities_arch_arm64_tinygo.go
Due: everything

cmds/core/ps: use slices.Max
  cmds/core/ps/ps_linux.go
Due: everything

pkg/boot/multiboot: use builtin min
  pkg/boot/multiboot/multiboot.go
Due: everything

pkg/flash: use builtin min
  pkg/flash/flash_linux.go
Due: everything

pkg/mount: determine fstype using statfs type
  pkg/mount/magic.go
  pkg/mount/mount_linux.go
Due: everything

Default to ShellBang=true if GOOS=plan9
  u-root.go
Due: everything

wip: restructure builder, add ci build tool
  tools/tinygo-cmdlet/README.md
  tools/tinygo-cmdlet/main.go
  tools/tinygo-cmdlet/pkg/builder/builder.go
  tools/tinygo-cmdlet/pkg/builder/builder_test.go
Due: none

pkg/mount: add tmpfs
  pkg/mount/magic.go
  pkg/mount/mount_linux_test.go
Due: everything

test
  u-root.go
Due: everything

Default to ShellBang=true if GOOS=plan9
  u-root.go
  uroot_test.go
Due: everything

pkg/boot/universalpayload: Pass boot parameters by FDT format
  pkg/boot/universalpayload/universalpayload.go
  pkg/boot/universalpayload/utilities.go
  pkg/boot/universalpayload/utilities_arch_arm64.go
Due: everything

pkg/boot/universalpayload: Enable Graphic for QEMU environment
  .circleci/images/kernel-amd64/config_linux.txt
  .circleci/images/kernel-arm64/config_linux.txt
Due: none

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
