Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

codecov.yml:

parsers:
  go:
    partials_as_hits: true #false by default

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: nonexp
      name: everything
      paths:
        - cmds/core/**
        - cmds/boot/**
        - cmds/contrib/**
        - cmds/fwtools/**
        - pkg/**
        - u-root.go
    - component_id: exp
      name: cmds/exp
      paths:
        - cmds/exp/**

feat(tar): refactor `tar` core util to use the new api design
  cmds/core/tar/tar.go
  cmds/core/tar/tar_test.go
  pkg/core/tar/tar.go
  pkg/core/tar/tar_test.go
Due: everything

refactor(shasum): remove unused parameter
  pkg/core/shasum/shasum.go
Due: everything

feat(shasum): refactor `shasum` core util to use the new api design
  cmds/core/shasum/shasum.go
  pkg/core/shasum/shasum.go
  pkg/core/shasum/shasum_test.go
Due: everything

feat(gzip): refactor `gzip` core util to use the new api design
  cmds/core/gzip/gzip.go
  cmds/core/gzip/gzip_test.go
  pkg/core/gzip/file.go
  pkg/core/gzip/gzip.go
  pkg/core/gzip/gzip_test.go
Due: everything

chore(go.mod): reduce required go version from 1.24 to 1.23
  go.mod
Due: none

fix: don't use `strings.FieldsSeq` because it was introduced on go 1.24
  pkg/cmdline/cmdline.go
  pkg/forth/forth.go
  tools/checklicenses/checklicenses.go
Due: everything

fix: don't use `strings.SplitSeq` because it was introduced on go 1.24
  cmds/core/dd/dd.go
  cmds/core/gosh/completer_common.go
  cmds/core/id/groups.go
  pkg/uroot/unixflag/unixflag.go
Due: everything

fix: don't use `bytes.SplitSeq` because it was introduced on go 1.24
  cmds/core/ping/ping_test.go
Due: everything

fix: don't use `b.Loop` because it was introduced on go 1.24
  cmds/extra/tsort/tsort_test.go
Due: none

deploy: 89ecf12d328d2d7f135ecc943269e029a403ab27
  index.html
  success-stories/bytedance.html
  success-stories/google.html
Due: none

.circleci/images: Add VFP and NEON support for arm kernel config
  .circleci/images/kernel-arm/config_linux.txt
Due: none

.vmtest.yaml: Update ARM kernel image hash
  .vmtest.yaml
Due: none

Workflows: Remove GOARM=5 for QEMU instance during integration test
  .github/workflows/tests.yml
Due: none

Add "\r" to some messages
  pkg/boot/menu/menu.go
Due: everything

Update menu.go
  pkg/boot/menu/menu.go
Due: everything

cleanup:remove pflag from tools/testramfs
  tools/testramfs/testramfs.go
Due: none

cleanup: exp/tftp: remove pflag package
  cmds/exp/tftp/main.go
Due: cmds/exp

feat(mktemp): refactor `mktemp` core util to use the new api design
  cmds/core/mktemp/mktemp.go
  cmds/core/mktemp/mktemp_test.go
  pkg/core/mktemp/mktemp.go
  pkg/core/mktemp/mktemp_test.go
Due: everything

feat(base64): refactor `base64` core util to use the new api design
  cmds/core/base64/base64.go
  pkg/core/base64/base64.go
  pkg/core/base64/base64_test.go
Due: everything

cleanup: remove shell-script-based tftp test
  integration/generic-tests/tftp_test.go
Due: none

kmodule: insert independent modules in parallel
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
Due: everything

Remove all references to removed Baseboard Info table
  pkg/smbios/smbios_modifier.go
  pkg/smbios/smbios_modifier_test.go
  pkg/smbios/table_type.go
  pkg/smbios/type14_group_association.go
  pkg/smbios/type14_group_association_test.go
Due: everything

Remove all references to removed Baseboard Info table
  cmds/exp/dmidecode/testdata/Asus-UX307LA.txt
  cmds/exp/dmidecode/testdata/Lenovo-ThinkPad-T480.txt
Due: cmds/exp

Remove all references to removed Baseboard Info table
  pkg/smbios/type14_group_association_test.go
Due: everything

kmodule: export concurrent-safe module prober
  pkg/kmodule/kmodule_linux.go
  pkg/kmodule/kmodule_linux_test.go
Due: everything

exp/tfpt: fix spelling in test
  cmds/exp/tftp/tftp_test.go
Due: cmds/exp
