Repository u-root/u-root: changes, and which Codecov flags are due for each by the changed paths.
All: everything, cmds/exp

tinygo: update regression test status-quo
  tools/tinygo-buildstatus/statusquo.go
Due: none

WIP multi console output
  cmds/core/init/init_linux.go
  pkg/cmdline/cmdline.go
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
Due: everything

cmds/core/netcat: drop else and lift break to the loop
  cmds/core/netcat/listen.go
Due: everything

ci: update golangci-lint config
  .golangci.yml
Due: none

chore: typo
  .github/workflows/go.yml
Due: none

ci: add tinygo test runner
  .github/workflows/tinygo.yml
Due: none

ci: update tinygo version
  .github/workflows/tinygo.yml
Due: none

ci: add ignore list to not throw error
  tools/tinygo-buildstatus/main.go
  tools/tinygo-buildstatus/statusquo.go
Due: none

ci: update tinygo image to experimental net fork
  .github/workflows/tinygo.yml
  go.mod
  go.sum
  vendor/github.com/u-root/cpuid/.gitignore
  vendor/github.com/u-root/cpuid/LICENSE
  vendor/github.com/u-root/cpuid/NOTICE
  vendor/github.com/u-root/cpuid/README.md
  vendor/github.com/u-root/cpuid/cpuid.go
  vendor/github.com/u-root/cpuid/cpuid_amd64.go
  vendor/github.com/u-root/cpuid/cpuid_amd64_tinygo.go
  vendor/github.com/u-root/cpuid/cpuid_amd64_tinygo_bridge.go
  vendor/modules.txt
Due: none

tinygo: experimental net + cpuid builds
  cmds/core/netcat/netcat.go
  cmds/core/wget/wget.go
  cmds/exp/fbnetboot/main.go
  cmds/exp/netbootxyz/netbootxyz.go
  cmds/exp/pxeserver/main.go
  cmds/exp/srvfiles/srvfiles.go
  cmds/exp/tc/tc.go
  cmds/exp/tcz/tcz.go
  tools/tinygo-buildstatus/statusquo.go
Due: everything, cmds/exp

init: multi console output
  cmds/core/init/init.go
  cmds/core/init/init_linux.go
  pkg/cmdline/cmdline.go
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/proc_test.go
  pkg/libinit/root_linux.go
  pkg/libinit/root_linux_test.go
Due: everything

golangci: update to v1.64.5
  .github/workflows/golangci-lint.yml
Due: none

ci: Add pre-built OVMF binaries for AMD64 and ARM64
  .circleci/images/ovmf-amd64/Dockerfile
  .circleci/images/ovmf-arm64/Dockerfile
Due: none

Update mkuimage to pick up /var/lock
  go.mod
  go.sum
  vendor/github.com/u-root/mkuimage/uimage/uimage.go
  vendor/modules.txt
Due: none

init: drop kerneltty flag
  cmds/core/init/init.go
  cmds/core/init/init_linux.go
Due: everything

init: add multi reader support
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/root_linux.go
Due: everything

init: multi console output
  .github/workflows/golangci-lint.yml
  cmds/core/init/init_linux.go
  pkg/cmdline/cmdline.go
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/proc_test.go
  pkg/libinit/root_linux.go
  pkg/libinit/root_linux_test.go
Due: everything

feat: enable multi-reader support
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/root_linux.go
Due: everything

init: multi console output
  cmds/core/init/init_linux.go
  pkg/cmdline/cmdline.go
  pkg/cmdline/cmdline_test.go
  pkg/libinit/proc_linux.go
  pkg/libinit/proc_linux_test.go
  pkg/libinit/proc_test.go
  pkg/libinit/root_linux.go
  pkg/libinit/root_linux_test.go
Due: everything

ci: update golangci-linter
  .golangci.yml
Due: none

ci/lint: fix linter issues caused by unparam
  cmds/core/du/du.go
  cmds/core/fusermount/fusermount.go
  cmds/core/ip/route_linux.go
  cmds/core/ip/route_linux_test.go
  cmds/core/ls/ls.go
  cmds/core/netcat/listen_test.go
  cmds/core/netcat/netcat.go
  cmds/core/netcat/netcat_test.go
  cmds/core/scp/scp.go
  cmds/core/shasum/shasum.go
  cmds/core/wc/wc.go
  cmds/exp/cbmem/gen/gen.go
  cmds/exp/rush/cmd_test.go
  cmds/exp/rush/parse.go
  cmds/exp/rush/parse_test.go
  cmds/exp/rush/rush.go
  cmds/exp/tcz/tcz.go
  pkg/boot/bzimage/kver_test.go
  pkg/boot/ebda/ebda_test.go
  pkg/boot/linux/load_linux_image_test.go
  pkg/boot/multiboot/internal/trampoline/trampoline_linux_amd64.go
  pkg/brctl/util.go
  pkg/cmos/cmos_test.go
  pkg/flash/spimock/spimock_linux.go
  pkg/memio/ports_linux_test.go
  pkg/mount/scuzz/ata.go
  pkg/namespace/cmd.go
  pkg/namespace/namespace.go
  pkg/netstat/format.go
  pkg/securelaunch/measurement/dmi.go
  pkg/smbios/smbios_modifier_test.go
  pkg/strace/tracer_test.go
  pkg/syscallfilter/syscallfilter_linux.go
Due: everything, cmds/exp

ci: add errcheck linter to golangci-lint
  .golangci.yml
Due: none

cmds/core/tail: fix follow and remove uint
  cmds/core/tail/tail.go
  cmds/core/tail/tail_test.go
Due: everything

fix: clean up libinit code
  pkg/cmdline/cmdline.go
  pkg/libinit/proc_linux.go
Due: everything

netcat: explicit use of IPv4 and IPv6
  cmds/core/netcat/connect.go
  cmds/core/netcat/connect_test.go
  cmds/core/netcat/listen.go
  cmds/core/netcat/listen_test.go
  cmds/core/netcat/netcat.go
Due: everything

fixup
  cmds/core/netcat/connect_test.go
  cmds/core/netcat/listen_test.go
Due: everything

ci: Specify docker image base version for OVMF.fd
  .circleci/images/ovmf-amd64/Dockerfile
Due: none

ci: Specify docker image base version for QEMU_EFI.fd
  .circleci/images/ovmf-arm64/Dockerfile
Due: none

Path conditions:
  everything: any of: cmds/core/**, cmds/boot/**, cmds/contrib/**, cmds/fwtools/**, pkg/**, u-root.go
  cmds/exp: any of: cmds/exp/**
